
<template>
  <v-form ref="form">
    <div 
      v-if="step === 1"
    >
      <h2>Create or load file</h2>
      <v-text-field
        v-model="m_name"
        :rules="rules"
        :min="5"
        label="File name"
      ></v-text-field>
      <v-btn
        color="success"
        @click="validateFileName"
      >
        Validate
      </v-btn>
    </div>
    <div 
      v-if="step === 2"
    >
      <h2>Select endpoints</h2>
      <v-text-field
        v-model="m_endpoint"
        :rules="rules"
        :url="true"
        label="Main endpoint"
      ></v-text-field>
      <v-btn
        color="success"
        @click="nextStep"
      >
        Save
      </v-btn>
    </div>
    <div 
      v-if="step === 3"
    >
      <h2>Graphs</h2>
      <v-btn
        color="success"
        @click="makeGraphsQuery"
      >
        Get graphs 
      </v-btn>
      <v-btn
        color="success"
        @click="useDefaultGraph"
      >
        Use default
      </v-btn>
    </div>
    <div 
      v-if="step === 4"
    >
      <h2>Classes of resources</h2>
      <v-select
        :items="levels"
        label="Max level"
        v-model='maxlevel'
      ></v-select>
      <v-select
        :items="distantEndpoints"
        label="Joint endpoint"
        v-model='m_endpointDistant'
      ></v-select>
      <div
        v-for="(graph,i) in graphs"
        :key="i"
      >
        <h3>{{graph.name}}</h3>

        <v-expansion-panel>
          <v-expansion-panel-content
            v-for="(type,i) in graph.sets"
            :key="i"
          >
            <template v-slot:header>
              <div>{{type.type}}</div>
            </template>
            <v-card>
              <v-card-text>
                <span v-if='type.paths.length > 0'>{{type.paths.length}} paths, max level  {{type.maxlevel}} / </span>
                <span v-if='type.jointsSummary.length > 0'>
                  <span v-for="(joint,j) in type.jointsSummary" :key="j">
                    {{joint.endpoint}}: {{joint.count}} joints
                    <span v-if='joint.countextensions > 0'>, {{joint.countextensions}} extensions</span>
                  </span>
                </span>
                
              </v-card-text>
              <v-btn
                color="success"
                @click="(e) => makeLDPathsQuery(type, graph)"
              >
                Get Paths
              </v-btn>
              <v-btn
                color="success"
                @click="(e) => makePathsTypesQuery(type, graph, type.paths)"
              >
                Get Types
              </v-btn>
              <v-btn
                color="success"
                @click="(e) => makeLanguagesQuery(type, graph, type.paths)"
              >
                Get Languages
              </v-btn>
              <v-btn
                color="success"
                @click="makeCountLinksQuery(type, graph)"
              >
                Count joints
              </v-btn>
              <v-btn
                color="success"
                @click="(e) => makeFollowLinksQuery(type, graph)"
              >
                Get extensions
              </v-btn>
            
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>

        <v-btn
          v-if='graph.sets.length === 0'
          color="success"
          @click="() => makeTypesQuery(graph)"
        >
          Get classes of resources 
        </v-btn>
        <v-btn
          color="error"
          @click="(e) => discardGraph(graph)"
        >
          Discard
        </v-btn>
      </div>
      
      <v-btn
        color="success"
        @click="saveFile"
      >
        Save File
      </v-btn>
    </div>
  </v-form>

</template>

<script>

export default {
  name: 'wrapAdmin',
  data() {
    return {
      step: 1,
      graphs: [],
      maxlevel: 1,
      corese: 'http://localhost:8888/sparql',
      pathstatic: '/static/files/',
      pathapi: 'http://localhost:8082/',
      m_name: 'default',
      m_endpoint: 'http://192.168.99.100:8890/sparql',
      m_endpointDistant: 'http://dbpedia.org/sparql',
      distantEndpoints: [
        'http://dbpedia.org/sparql',
        'https://data.bnf/sparql',
        'https://data.idref.fr/sparql',
        'http://fr.dbpedia.org/sparql'
      ],
      prefixes: {
        'dbpedia-owl': 'http://dbpedia.org/ontology/',
        nobel: 'http://data.nobelprize.org/terms/',
        foaf: 'http://xmlns.com/foaf/0.1/',
        yago: 'http://yago-knowledge.org/resource/',
        viaf: 'http://viaf.org/viaf/',
        meta: 'http://www4.wiwiss.fu-berlin.de/bizer/d2r-server/metadata#',
        dcterms: 'http://purl.org/dc/terms/',
        rdfs: 'http://www.w3.org/2000/01/rdf-schema#',
        d2r: 'http://sites.wiwiss.fu-berlin.de/suhl/bizer/d2r-server/config.rdf#',
        dbpedia: 'http://dbpedia.org/resource/',
        owl: 'http://www.w3.org/2002/07/owl#',
        xsd: 'http://www.w3.org/2001/XMLSchema#',
        map: 'http://data.nobelprize.org/resource/#',
        rdf: 'http://www.w3.org/1999/02/22-rdf-syntax-ns#',
        freebase: 'http://rdf.freebase.com/ns/',
        dbpprop: 'http://dbpedia.org/property/',
        skos: 'http://www.w3.org/2004/02/skos/core#',
        rda: 'http://rdaregistry.info/Elements/',
        loc: 'http://id.loc.gov/vocabulary/relators/',
        bibo: 'http://purl.org/ontology/bibo/',
        taxon: 'http://lod.taxonconcept.org/ontology/txn.owl#',
        persee: 'http://data.persee.fr/ontology/persee-ontology/',
        xml: 'http://www.w3.org/2001/XMLSchema#',
        bio: 'http://purl.org/vocab/bio/0.1/',
        isni: 'http://isni.org/ontology#',
        vRank: 'http://purl.org/voc/vrank#',
        schema: 'http://schema.org/',
        wikidata: 'http://www.wikidata.org/entity/',
        cito: 'http://purl.org/spar/cito/'

      },
      properties: {
        'http://rdaregistry.info/Elements/c/Manifestation': { label: 'Manifestation', definition: 'A physical embodiment of an expression of a work.' },
        'http://id.loc.gov/vocabulary/relators/aut': { label: 'Author', definition: 'A person, family, or organization responsible for creating a work that is primarily textual in content, regardless of media type (e.g., printed text, spoken word, electronic text, tactile text) or genre (e.g., poems, novels, screenplays, blogs). Use also for persons, etc., creating a new work by paraphrasing, rewriting, or adapting works by another creator such that the modification has substantially changed the nature and content of the original or changed the medium of expression.' },
        'http://id.loc.gov/vocabulary/relators/edt': { label: 'Editor', definition: 'A person, family, or organization contributing to a resource by revising or elucidating the content, e.g., adding an introduction, notes, or other critical matter. An editor may also prepare a resource for production, publication, or distribution. For major revisions, adaptations, etc., that substantially change the nature and content of the original work, resulting in a new work, see author.' },
        'http://id.loc.gov/vocabulary/relators/lse': { label: 'Licensee', definition: 'A person or organization who is an original recipient of the right to print or publish.' },
        'http://id.loc.gov/vocabulary/relators/pht': { label: 'Photographer', definition: 'A person, family, or organization responsible for creating a photographic work.' },
        'http://id.loc.gov/vocabulary/relators/ctb': { label: 'Contributor', definition: 'A person, family or organization responsible for making contributions to the resource. This includes those whose work has been contributed to a larger work, such as an anthology, serial publication, or other compilation of individual works. If a more specific role is available, prefer that, e.g. editor, compiler, illustrator.' },
        'http://id.loc.gov/vocabulary/relators/trl': { label: 'Translator', definition: 'A person or organization who renders a text from one language into another, or from an older form of a language into the modern form.' },
        'http://xmlns.com/foaf/0.1/Person': { label: 'Person', comment: 'A person.' },
        'http://xmlns.com/foaf/0.1/depiction': { label: 'depiction', comment: 'A depiction of some thing.' },
        'http://xmlns.com/foaf/0.1/focus': { label: 'focus', comment: 'The underlying or `focal` entity associated with some SKOS-described concept.' },
        'http://xmlns.com/foaf/0.1/gender': { label: 'gender', comment: 'The gender of this Agent (typically but not necessarily `male` or `female`). ' },
        'http://xmlns.com/foaf/0.1/givenName': { label: 'Given name', comment: 'The given name of some person.' },
        'http://xmlns.com/foaf/0.1/isPrimaryTopicOf': { label: 'is primary topic of', comment: 'A document that this thing is the primary topic of. ' },
        'http://xmlns.com/foaf/0.1/name': { label: 'name', comment: 'A name for some thing.' },
        'http://xmlns.com/foaf/0.1/surname': { label: 'surname', comment: 'The surname of some person.' },
        'http://xmlns.com/foaf/0.1/familyName': { label: 'familyName', comment: 'The family name of some person.' },
        'http://xmlns.com/foaf/0.1/page': { label: 'page', comment: 'A page or document about this thing.' },
        'http://purl.org/dc/terms/abstract': { label: 'Abstract', comment: 'A summary of the resource.' },
        'http://purl.org/dc/terms/bibliographicCitation': { label: 'Bibliographic Citation', definition: 'A bibliographic reference for the resource.', comment: 'Recommended practice is to include sufficient bibliographic detail to identify the resource as unambiguously as possible.' },
        'http://purl.org/dc/terms/description': { label: 'Description', definition: 'An account of the resource.', comment: 'Description may include but is not limited to: an abstract, a table of contents, a graphical representation, or a free-text account of the resource.' },
        'http://purl.org/dc/terms/coverage': { label: 'Coverage', definition: 'The spatial or temporal topic of the resource, the spatial applicability of the resource, or the jurisdiction under which the resource is relevant.', comment: 'Spatial topic and spatial applicability may be a named place or a location specified by its geographic coordinates. Temporal topic may be a named period, date, or date range. A jurisdiction may be a named administrative entity or a geographic place to which the resource applies. Recommended best practice is to use a controlled vocabulary such as the Thesaurus of Geographic Names [TGN]. Where appropriate, named places or time periods can be used in preference to numeric identifiers such as sets of coordinates or date ranges.' },
        'http://purl.org/dc/terms/hasPart': { label: 'Has Part', definition: '	A related resource that is included either physically or logically in the described resource.', comment: '' },
        'http://purl.org/dc/terms/identifier': { label: 'Identifier', definition: 'An unambiguous reference to the resource within a given context.', comment: 'Recommended best practice is to identify the resource by means of a string conforming to a formal identification system.' },
        'http://purl.org/dc/terms/isPartOf': { label: 'Is Part Of', definition: 'A related resource in which the described resource is physically or logically included.', comment: '' },
        'http://purl.org/dc/terms/creator': { label: 'Creator', definition: '	An entity primarily responsible for making the resource.', comment: 'Examples of a Creator include a person, an organization, or a service. Typically, the name of a Creator should be used to indicate the entity.' },
        'http://purl.org/dc/terms/language': { label: 'Language', definition: 'A language of the resource.', comment: 'Recommended best practice is to use a controlled vocabulary such as RFC 4646 [RFC4646].' },
        'http://purl.org/dc/terms/license': { label: 'License', definition: 'A legal document giving official permission to do something with the resource.', comment: '' },
        'http://purl.org/dc/terms/publisher': { label: 'Publisher', definition: 'An entity responsible for making the resource available.', comment: 'Examples of a Publisher include a person, an organization, or a service.' },
        'http://purl.org/dc/terms/tableOfContents': { label: 'Table Of Contents', definition: 'A list of subunits of the resource.', comment: '' },
        'http://purl.org/dc/terms/title': { label: 'Title', definition: 'A name given to the resource.', comment: '' },
        'http://purl.org/dc/terms/modified': { label: 'Date Modified', definition: 'Date on which the resource was changed.', comment: '' },
        'http://purl.org/dc/terms/subject': { label: 'Subject', definition: 'The topic of the resource.', comment: 'Typically, the subject will be represented using keywords, key phrases, or classification codes. Recommended best practice is to use a controlled vocabulary.' },
        'http://purl.org/dc/terms/contributor': { label: 'Contributor', definition: 'An entity responsible for making contributions to the resource.', comment: 'Examples of a Contributor include a person, an organization, or a service. Typically, the name of a Contributor should be used to indicate the entity.' },
        'http://www.w3.org/2000/01/rdf-schema#label': { label: 'label', comment: 'A human-readable name for the subject.' },
        'http://www.w3.org/2000/01/rdf-schema#comment': { label: 'comment', comment: 'A description of the subject resource.' },
        'http://www.w3.org/2000/01/rdf-schema#seeAlso': { label: 'seeAlso', comment: 'Further information about the subject resource.' },
        'http://www.w3.org/2000/01/rdf-schema#subClassOf': { label: 'subClassOf', comment: 'The subject is a subclass of a class.' },
        'http://www.w3.org/2002/07/owl#sameAs': { label: 'sameAs', comment: 'The property that determines that two given individuals are equal.' },
        'http://dbpedia.org/property/birthPlace': { label: 'birth place', comment: 'where the person was born' },
        'http://dbpedia.org/property/caption': { label: '', comment: '' },
        'http://dbpedia.org/property/date': { label: '', comment: '' },
        'http://dbpedia.org/property/deathPlace': { label: 'death place', comment: 'The place where the person died.' },
        'http://dbpedia.org/property/genre': { label: '', comment: '' },
        'http://dbpedia.org/property/id': { label: '', comment: '' },
        'http://dbpedia.org/property/imageSize': { label: '', comment: '' },
        'http://dbpedia.org/property/langCode': { label: '', comment: '' },
        'http://dbpedia.org/property/language': { label: '', comment: '' },
        'http://dbpedia.org/property/movement': { label: '', comment: '' },
        'http://dbpedia.org/property/name': { label: '', comment: '' },
        'http://dbpedia.org/property/nationality': { label: '', comment: '' },
        'http://dbpedia.org/property/notableWorks': { label: '', comment: '' },
        'http://data.nobelprize.org/terms/LaureateAward': { label: 'Laureate Award', comment: 'The Nobel Prize is often divided to several laureates. LaureateAward captures the details of the award given to each laureate, such as share of the Nobel Prize, motivation etc.' },
        'http://data.nobelprize.org/terms/Laureate': { label: 'Laureate', comment: 'A laureate is a person or organization who recieves one or several Nobel Prizes.' },
        'http://data.nobelprize.org/terms/Category': { label: 'Nobel Prize category', comment: 'The Nobel Prize is given in six different categories.' },
        'http://data.nobelprize.org/terms/PrizeFile': { label: 'Prize File', comment: 'Some form of media related to the Nobel Prize.' },
        'http://data.nobelprize.org/terms/AwardFile': { label: 'Award File', comment: 'Some form of media related to the award given to a specific Laureate.' },
        'http://data.nobelprize.org/terms/FileType': { label: 'File Type', comment: 'A file type indicates the nature of a prizeFile, for instance Acceptance Speach, Documentary, Press Release etc.' },
        'http://data.nobelprize.org/terms/laureateAward': { label: 'laureateAward', comment: 'Connects each laureate with the part of the Nobel Prize, that is the LaureateAward, he or she recieved.' },
        'http://data.nobelprize.org/terms/nobelPrize': { label: 'nobelPrize', comment: 'Points to the Nobel Prize recieved by a Laureate.' },
        'http://data.nobelprize.org/terms/year': { label: 'year', comment: 'The year a given Nobel Prize was given.' },
        'http://data.nobelprize.org/terms/category': { label: 'category', comment: 'The category this Nobel Prize belongs to.' },
        'http://data.nobelprize.org/terms/motivation': { label: 'motivation', comment: 'The motivation for why the laureate was given the Nobel Prize.' },
        'http://data.nobelprize.org/terms/contribution': { label: 'contribution', comment: 'The contribution for which the laureate was given the Nobel Prize.' },
        'http://data.nobelprize.org/terms/share': { label: 'share', comment: 'The share of a Nobel Prize given to a Laureate, may be 1, 2 or 4 corresponding to the whole prize, half the prize and a quarter of the prize.' },
        'http://data.nobelprize.org/terms/field': { label: 'field', comment: 'The field within the category the Nobel Prize was awarded for.' },
        'http://data.nobelprize.org/terms/laureate': { label: 'laureate', comment: 'Which laureates that recieve an award.' },
        'http://data.nobelprize.org/terms/university': { label: 'university', comment: 'Points to the universities the Laureate was affiliated with during the period he did his contribution that laid the ground for the award.' },
        'http://data.nobelprize.org/terms/awardFile': { label: 'awardFile', comment: 'Points to an AwardFile, that is some form of media related to the award for this laureate.' },
        'http://data.nobelprize.org/terms/prizeFile': { label: 'prizeFile', comment: 'Points to an PrizeFile, that is some form of media related to the Nobel Prize.' },
        'http://data.nobelprize.org/terms/fileType': { label: 'fileType', comment: 'Points to an FileType, that is, what kind of prizeFile this is, for instance Acceptance Speach, Documentary, Press Release etc.' },
        'http://data.persee.fr/ontology/persee-ontology/Article': { label: 'Article', comment: 'A scientific written composition, forming an independent part of a publication, as a journal, proceedings...' },
        'http://data.persee.fr/ontology/persee-ontology/Review': { label: 'Review', comment: 'Review of a book, publication, exhibition' },
        'http://data.persee.fr/ontology/persee-ontology/Editorial': { label: 'Editorial', comment: 'Document originating from the board of the journal and defining a general approach' },
        'http://data.persee.fr/ontology/persee-ontology/Liminary': { label: 'Liminary', comment: 'Introductory document of an issue or book' },
        'http://data.persee.fr/ontology/persee-ontology/SourceData': { label: 'Sources and primary data', comment: 'Elements used as a basis for research (statistical data, archives, survey results, etc.), tools, methods' },
        'http://data.persee.fr/ontology/persee-ontology/CriticalNote': { label: 'Critical note', comment: 'Extensive analysis of sources, logical value, content of one or more publications' },
        'http://data.persee.fr/ontology/persee-ontology/Abstracts': { label: 'Abstracts', comment: 'Section summarizing the articles published in the issue / book. They can be in several languages' },
        'http://data.persee.fr/ontology/persee-ontology/TableDoc': { label: 'Table and index', comment: 'Documents such as tables of contents, of illustrations, index and alphabetical table of authors, subjects treated ...' },
        'http://data.persee.fr/ontology/persee-ontology/IllustrationDoc': { label: 'Illustration document', comment: 'Document or group of document of a graphic nature. Maps, reproduction of paintings, sculptures, photographs, buildings ...' },
        'http://data.persee.fr/ontology/persee-ontology/dateOfPrintPublication': { label: 'has date of print publication', comment: 'Année de parution de la version imprimé du document dont est issu le document électonique' },
        'http://data.persee.fr/ontology/persee-ontology/DataArray': { label: 'Array of data', comment: 'Image of an array of data' },
        'http://data.persee.fr/ontology/persee-ontology/Diagram': { label: 'Diagram', comment: 'Symbolic representation of information' },
        'http://data.persee.fr/ontology/persee-ontology/Map': { label: 'Map', comment: '' },
        'http://data.persee.fr/ontology/persee-ontology/Illustration': { label: 'Illustration', comment: '' },
        'http://data.persee.fr/ontology/persee-ontology/Issue': { label: 'Issue', comment: 'Something that is printed or published and distributed, esp. a given number of a periodical' },
        'http://data.persee.fr/ontology/persee-ontology/SpecialIssue': { label: 'Special issue', comment: 'Document or group of document of a graphic nature. Maps, reproduction of paintings, sculptures, photographs, buildings ...Special issue published within a periodical publication' },
        'http://data.persee.fr/ontology/persee-ontology/SupplementIssue': { label: 'Supplement issue', comment: 'Volume of supplement published in addition to the regular issues of a periodical' },
        'http://data.persee.fr/ontology/persee-ontology/OtherDocument': { label: 'Other type of document', comment: 'Used to qualify any documentary unit not qualified in the Persee typology' },
        'http://data.persee.fr/ontology/persee-ontology/BibliographicalNote': { label: 'Bibliographical note', comment: 'Biographical note, portrait, obituary, ...' },
        'http://data.persee.fr/ontology/persee-ontology/ReceivedBooks': { label: 'Received books', comment: 'List of books received by the editorial staff' },
        'http://data.persee.fr/ontology/persee-ontology/Table': { label: 'Table Issue', comment: '' },
        'http://purl.org/ontology/bibo/Journal': { label: 'Journal', comment: 'A periodical of scholarly journal Articles.' },
        'http://purl.org/ontology/bibo/Document': { label: 'Document', comment: 'A document (noun) is a bounded physical representation of body of information designed with the capacity (and usually intent) to communicate. A document may manifest symbolic, diagrammatic or sensory-representational information.' },
        'http://purl.org/ontology/bibo/eissn': { label: '', comment: '' },
        'http://purl.org/ontology/bibo/issn': { label: '', comment: '' },
        'http://purl.org/ontology/bibo/issue': { label: 'issue', comment: 'An issue number' },
        'http://purl.org/ontology/bibo/numPages': { label: 'number of pages', comment: 'The number of pages contained in a document' },
        'http://purl.org/ontology/bibo/pageEnd': { label: 'page end', comment: 'Ending page number within a continuous page range.' },
        'http://purl.org/ontology/bibo/pageStart': { label: 'page start', comment: 'Starting page number within a continuous page range.' },
        'http://purl.org/ontology/bibo/volume': { label: 'volume', comment: 'A volume number' },
        'http://purl.org/ontology/bibo/Issue': { label: 'Issue', comment: 'something that is printed or published and distributed, esp. a given number of a periodical' },
        'http://purl.org/ontology/bibo/Image': { label: 'Image', comment: 'A document that presents visual or diagrammatic information.' },
        'http://www.rdaregistry.info/Elements/m/dateOfPublication': { label: 'has date of publication', definition: 'Relates a manifestation to a timespan during which a published manifestation is published, released, or issued.' },
        'http://www.rdaregistry.info/Elements/m/mediaType': { label: 'has media type', definition: 'Relates a manifestation to a categorization reflecting the general type of intermediation device required to view, play, run, etc., the content of a manifestation.' },
        'http://www.rdaregistry.info/Elements/u/electronicReproductionOf"': { label: 'is electronic reproduction of', definition: 'Relates a resource to a resource in an analog format that is transferred to a digital format.' },
        'http://www.rdaregistry.info/Elements/u/hasIllustrativeContent': { label: 'has illustrative content"', definition: 'Relates a resource to a presence of one or more still images that accompany a primary content of a resource.' },
        'http://dbpedia.org/ontology/abstract': { label: 'has abstract' },
        'http://dbpedia.org/ontology/birthdate': { label: 'birth date' }
      }
    }
  },
  mounted() {
  },
  watch: {
    //m_endpoint: 'validateField',
    //m_name: 'validateField'
  },
  computed: {
    levels () {
      return [1,2,3,4,5,6,7]
    },
    countJoints (type) {
      
    },
    countExtensions (type) {
      
    },
    rules () {
      //console.log(this)
      const rules = []
      if (this.min) {
        const rule =
          v => (v || '').length >= this.min ||
            `A minimum of ${this.max} characters is necessary`

        rules.push(rule)
      }
      if (this.url) {
        let check = new RegExp("^(http[s]?:\\/\\/(www\\.)?|ftp:\\/\\/(www\\.)?|www\\.){1}([0-9A-Za-z-\\.@:%_~#=]+)+((\\.[a-zA-Z]{2,3})+)(/(.)*)?(\\?(.)*)?");
        const rule =
          v => check.test(v) ||
            `Please specify a valid SPARQL endpoint`

        rules.push(rule)
      }
      return rules
    }
  },
  methods: {
    init () {
      //this.$refs.form.validate()
    },    
    validateField () {
      //this.$refs.form.validate()
    },
    nextStep () {
      this.step ++
    },
    validateFileName (args) {
      //console.log('va chercher', this.m_name, this.m_endpoint)
      if(this.step === 1) {
        let bodyquery = { filename: `${this.pathstatic}${this.m_name}.json` }
        fetch(this.pathapi+ 'filecontent', {
          method: 'POST',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify(bodyquery)
        })
          .then(data => {
            return data.json()
          })
          .then(data => {
            for (let key in data) {
              if(key !== 'prefixes' && key !== 'properties') this[key] = data[key]
            }
            this.step += 3
          })
          .catch(err => {
            //console.error('file not found ' + err)
            this.step ++
          })
      }
    },
    saveFile (){
      //console.log('bodyreq', this.pathapi)
      let bodyquery = {
        filecontent: {
          graphs: this.graphs,
          m_endpoint: this.m_endpoint,
          m_name: this.m_name
        },
        filename: `${this.pathstatic}${this.m_name}`,
        prefixes: this.prefixes,
        properties: this.properties
      }
      fetch(this.pathapi+ 'write', {
          method: 'POST',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify(bodyquery)
      })
        .then(data => {
            return data.json()
        })
        .then(data => {
          //console.log(data);
        })
    },
    makeTypesQuery (graph) {
      fetch(this.pathapi+ 'analyse/types', {
          method: 'POST',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({
            endpoint: this.m_endpoint,
            graphquery: graph && graph.name !== 'default' ? ` FROM <${graph.name}> ` : `` 
          })
      })
        .then(data => {
          //console.log(data)
          return data.json()
        })
        .then(data => {
          //console.log(data)
          this.graphs = this.graphs.map(g => {
            if(g.name === graph.name){
              return {
                ...g,
                sets: data.types
              }
            } else {
              return g
            }
          })
        })
    },
    makeGraphsQuery () {
      fetch(this.pathapi+ 'analyse/graphs', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({ endpoint: this.m_endpoint })
      })
        .then(data => {
          //console.log(data)
          return data.json()
        })
        .then(data => {
          //console.log(data)
          this.graphs = data.graphs
          this.step ++
        })
    },
    useDefaultGraph () {
      this.graphs = [{ name: 'default', sets: [] }]
      this.step ++
    },
    discardGraph (graph) {
      this.graphs = this.graphs.filter(g => g.name !== graph.name)
    },
    makeLDPathsQuery (el, graph) {
      fetch(this.pathapi+ 'analyse/paths', {
          method: 'POST',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({
            corese: this.corese,
            filename: 'static/tmp/res1',
            graphquery: graph && graph.name !== 'default' ? `@graph <${graph.name}>` : ``,
            endpoint: this.m_endpoint,
            type: el.type,
            total: el.entities,
            maxlevel: this.maxlevel
          })
      })
        .then(data => {
          //console.log(data)
          return data.json()
        })
        .then(data => {
          console.log(data)
          this.graphs = this.graphs.map(g => {
            if (g.name === graph.name) {
              return {
                ...g,
                sets: g.sets.map (type => {
                  if (el.type === type.type) {
                    return {
                      ...type,
                      paths: data.paths,
                      maxlevel: this.maxlevel
                    }
                  } else {
                    return type
                  }
                })
              }
            }else {
              return g
            }
          })
        })
    },
    makePathsTypesQuery (el, graph, paths) {
      fetch(this.pathapi+ 'analyse/intermediatetypes', {
          method: 'POST',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({
            graphquery: graph && graph.name !== 'default' ? graph.name : null,
            endpoint: this.m_endpoint,
            type: el.type,
            paths
          })
      })
        .then(data => {
          return data.json()
        })
        .then(data => {
          console.log(data)
          this.graphs = this.graphs.map(g => {
            if (g.name === graph.name) {
              return {
                ...g,
                sets: g.sets.map (type => {
                  if (el.type === type.type) {
                    return {
                      ...type,
                      paths: data.paths
                    }
                  } else {
                    return type
                  }
                })
              }
            }else {
              return g
            }
          })
        })
    },
    makeLanguagesQuery (el, graph, paths) {
      fetch(this.pathapi+ 'analyse/languages', {
          method: 'POST',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({
            graphquery: graph && graph.name !== 'default' ? graph.name : null,
            endpoint: this.m_endpoint,
            type: el.type,
            paths
          })
      })
        .then(data => {
          return data.json()
        })
        .then(data => {
          console.log(data)
          this.graphs = this.graphs.map(g => {
            if (g.name === graph.name) {
              return {
                ...g,
                sets: g.sets.map (type => {
                  if (el.type === type.type) {
                    return {
                      ...type,
                      paths: data.paths
                    }
                  } else {
                    return type
                  }
                })
              }
            }else {
              return g
            }
          })
        })
    },
    makeCountLinksQuery (el, graph) {
      fetch(this.pathapi+ 'analyse/countjoints', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
          corese: this.corese,
          filename: 'static/tmp/res2',
          graphquery: graph && graph.name !== 'default' ? `@graph <${graph.name}>` : ``,
          endpoint: this.m_endpoint,
          distantEndpoint: this.m_endpointDistant,
          type: el.type,
          total: el.entities,
          maxlevel: this.maxlevel
        })
      })
        .then(data => {
          //console.log(data)
          return data.json()
        })
        .then(data => {
          console.log(data)
          this.graphs = this.graphs.map(g => {
            if (g.name === graph.name) {
              return {
                ...g,
                sets: g.sets.map (type => {
                  if (el.type === type.type && data.countjoints.length > 0) {
                    return {
                      ...type,
                      jointsSummary: [...type.jointsSummary.filter(js => js.endpoint !== data.countjoints[0].endpoint), { endpoint: data.countjoints[0].endpoint, count: data.countjoints[0].countJoints }],
                      paths: type.paths.map(path => {
                        let flatpath = path.readablePath.map(pl=>pl.uri).join('')
                        let findJoints = data.countjoints.filter(p => {
                          // console.log(p['ns1:path'], path.readablePath, p['ns1:path2'])
                          return p.readablePath.map(pl=>pl.uri).join('') === flatpath 
                        })
                        // console.log(path.readablePath.map(pl=>pl.uri).join(''), paths, findJoints)
                        return {
                          ...path,
                          countjoints: [...path.countjoints.filter(cs => cs.endpoint !== data.countjoints[0].endpoint), ...findJoints]
                        }
                      })
                    }
                  } else {
                    return type
                  }
                })
              }
            }else {
              return g
            }
          })
        })
    },
    makeFollowLinksQuery (el, graph) {
      fetch(this.pathapi+ 'analyse/followpaths', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
          corese: this.corese,
          filename: 'static/tmp/res3',
          graphquery: graph && graph.name !== 'default' ? `@graph <${graph.name}>` : ``,
          endpoint: this.m_endpoint,
          distantEndpoint: this.m_endpointDistant,
          type: el.type,
          total: el.entities,
          maxlevel: this.maxlevel
        })
      })
        .then(data => {
          //console.log(data)
          return data.json()
        })
        .then(data => {
          console.log(data)
          this.graphs = this.graphs.map(g => {
            if (g.name === graph.name) {
              return {
                ...g,
                sets: g.sets.map (type => {
                  if (el.type === type.type && data.joints.length > 0) {
                    //console.log(data.joints)
                    return {
                      ...type,
                      jointsSummary: type.jointsSummary.map(joint => {
                        if (joint.endpoint === data.joints[0].endpoint) {
                          return { ...joint, countextensions: data.joints.length }
                        } else {
                          return joint
                        }
                      }),
                      paths: type.paths.map(path => {
                        let flatpath = path.readablePath.map(pl=>pl.uri).join('')
                        let findJoints = data.joints.filter(p => {
                          // console.log(p['ns1:path'], path.readablePath, p['ns1:path2'])
                          return p.readablePath.map(pl=>pl.uri).join('') === flatpath 
                        })
                        // console.log(path.readablePath.map(pl=>pl.uri).join(''), paths, findJoints)
                        return {
                          ...path,
                          joints: [...path.joints.filter(j => j.endpoint !== data.joints[0].endpoint), ...findJoints]
                        }
                      })
                    }
                  } else {
                    return type
                  }
                })
              }
            }else {
              return g
            }
          })
        })
    }
  }
};
</script>
