<template>
  <v-app id="app">
    <router-view />
  </v-app>
</template>

<script>
export default {
  name: 'app',
  data() {
    return {
      msg: 'LINKED DATASETS',
    };
  },
};
</script>

<style>
body {
  margin: 0;
}
html {
  font-size: 1em;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
