
<template>
  <div v-if='Object.keys(datacloud).length > 0' class="cloud">
    <svg
      v-bind:width='width'
      v-bind:height='height'
      v-bind:style='svgStyle'
      v-bind:viewbox='`0 0 ${width} ${height}`'
      xmlns='http://www.w3.org/2000/svg'
    >
      <defs>
        <pattern id='basicPattern' x='0' y='0' width='10' height='10' patternUnits='userSpaceOnUse'>
          <circle cx='2' cy='2' r='1' fill='#fff' opacity='0.5' />
          <circle cx='7' cy='7' r='1' fill='#fff' opacity='0.5' />
        </pattern>
        <pattern id='basicPattern1' x='0' y='0' width='11' height='11' patternUnits='userSpaceOnUse' fill='#345'>
          <rect x='0' y='0' width='11' height='11' fill='#345' />
          <line x1='1' x2='5' y1='3' y2='5' stroke='#fff' stroke-width='2' />
          <line x1='6' x2='7' y1='0' y2='5' stroke='#fff' stroke-width='2' />
          <line x1='2' x2='6' y1='7' y2='9' stroke='#fff' stroke-width='2' />
          <line x1='7' x2='11' y1='9' y2='11' stroke='#fff' stroke-width='2' />
        </pattern>
        <pattern id='basicPattern2' x='0' y='0' width='10' height='10' patternUnits='userSpaceOnUse'>
          <line x1='10' x2='0' y1='0' y2='10' stroke='#fff' stroke-width='2'/>
          <line x1='6' x2='0' y1='0' y2='6' stroke='#fff'  stroke-width='2'/>
          <line x1='2' x2='0' y1='0' y2='2' stroke='#fff'  stroke-width='2'/>
          <line x1='12' x2='0' y1='0' y2='12' stroke='#fff' stroke-width='2' />
          <line x1='16' x2='0' y1='0' y2='16' stroke='#fff'  stroke-width='2'/>
        </pattern>
        <pattern id='basicPattern3' x='0' y='0' width='118' height='84' patternUnits='userSpaceOnUse'>
          <line stroke="#fff" stroke-width="2" x1="57.3" y1="20.8" x2="59.5" y2="31.1" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="33.4" y1="32.4" x2="40.6" y2="38.7" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="33.4" y1="32.4" x2="40.6" y2="38.7" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="22.8" y1="9.6" x2="30.8" y2="18.2" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="42" y1="12" x2="49.8" y2="17.7" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="13.7" y1="44.5" x2="21.5" y2="49.6" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="57.3" y1="36.9" x2="48" y2="39.2" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="52.7" y1="55.2" x2="44" y2="60.8" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="37" y1="46.2" x2="29.2" y2="52.4" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="50.5" y1="24" x2="47.7" y2="34" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="17.4" y1="30.1" x2="14.6" y2="40.1" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="86.5" y1="43.7" x2="87.6" y2="53.7" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="88.7" y1="34.7" x2="79.8" y2="39.8" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="81.5" y1="23.3" x2="76.5" y2="32.2" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="71.1" y1="32.8" x2="74.9" y2="42.9" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="66.5" y1="38.5" x2="62.6" y2="47.3" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="58.5" y1="59.6" x2="53.1" y2="67.7" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="77.6" y1="57.3" x2="72.2" y2="65.4" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="74.5" y1="23.8" x2="66.3" y2="30.3" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="39.6" y1="19.7" x2="40.7" y2="29.8" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="30.6" y1="23.6" x2="23.8" y2="30.3" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="23.3" y1="19.9" x2="14.7" y2="24.4" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="51.5" y1="45.7" x2="59.6" y2="52" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="34.2" y1="54.9" x2="38.9" y2="63.7" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="46.2" y1="44.4" x2="41" y2="53.3" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="29.8" y1="58.3" x2="25.4" y2="67.5" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="77.9" y1="46.3" x2="70.4" y2="52.8" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="69.1" y1="59.3" x2="61.6" y2="65.7" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="60" y1="15" x2="67.4" y2="22.4" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="87" y1="24.7" x2="94.2" y2="31.2" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="28.6" y1="44.8" x2="22.1" y2="37.6" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="106.9" y1="19.8" x2="97.9" y2="24.8" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="91.3" y1="2.2" x2="88.5" y2="12.2" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="78.5" y1="12.3" x2="69" y2="15.7" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="97.6" y1="62.5" x2="102.5" y2="72.8" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="103.4" y1="54.4" x2="94" y2="58.7" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="100.7" y1="30.1" x2="97.9" y2="40.1" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="84.9" y1="69.4" x2="74.9" y2="72.9" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="47.3" y1="69.6" x2="44.5" y2="79.6" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="42.3" y1="66.7" x2="34.2" y2="73.6" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="19.9" y1="54.4" x2="10.5" y2="58.5" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="14.5" y1="62.9" x2="18.6" y2="72.6" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="66.3" y1="2.8" x2="76.3" y2="7.8" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="84.3" y1="16.9" x2="93.2" y2="20.7" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="54.4" y1="73.3" x2="59.7" y2="81.2" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="66.6" y1="71.2" x2="70.1" y2="81.2" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="13.5" y1="6.7" x2="16.8" y2="15.6" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="38.4" y1="4" x2="35.6" y2="14" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="58.4" y1="3.1" x2="53.6" y2="12.6" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="27.6" y1="73.2" x2="35.2" y2="82.3" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="114.3" y1="23.3" x2="107.3" y2="30.6" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="105.8" y1="37.2" x2="111.6" y2="45.1" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="84.3" y1="59.3" x2="90.7" y2="65.8" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="96.9" y1="44.6" x2="105" y2="50.1" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="92.7" y1="70.2" x2="89.9" y2="80.2" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="98.3" y1="77.7" x2="107.3" y2="84.1" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="113.2" y1="58.6" x2="109.1" y2="67.7" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="105.2" y1="3.4" x2="115.7" y2="6.1" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="106" y1="9" x2="113.8" y2="17.8" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="97" y1="6.2" x2="99.5" y2="16.2" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="111.7" y1="73.2" x2="117.8" y2="82.3" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="2.4" y1="43.9" x2="3.4" y2="53.8" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="3.8" y1="24.6" x2="10.8" y2="30.8" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="21.7" y1="3.5" x2="32.6" y2="6.2" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="7.9" y1="2.2" x2="5.1" y2="12.2" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="15.4" y1="78.4" x2="23.2" y2="83.5" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="0.9" y1="59.3" x2="7.3" y2="65.2" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="8.9" y1="71.2" x2="5.1" y2="80.4" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="118.6" y1="48.1" x2="109.5" y2="53.2" opacity="0.3" />
          <line stroke="#fff" stroke-width="2" x1="46.6" y1="0.1" x2="48.5" y2="8.6" opacity="0.3" />
        </pattern>
      </defs>
      <line
        key='closeDataset'
        v-on:click='unselect'
        v-if='selectedBubble'
        v-bind:x1='this.width / 2'
        v-bind:x2='this.width / 2'
        stroke-width='10'
        y1='5'
        y2='15'
        stroke='#345'
      ></line>
      <line
        key='pathdataset'
        x1='10'
        v-bind:x2='this.width / 2'
        v-bind:y1='10'
        v-bind:y2='10'
        stroke='#345'
        stroke-width='2'
      ></line>
      <transition-group
        tag='g'
        name='selectedGraph'
        id='selectedGraph'
        v-if='selectedGraph || hoveredGraph'
      >
        <line
          key='pathgraph'
          x1='10'
          v-bind:x2='this.centerX'
          v-bind:y1='60'
          v-bind:y2='60'
          stroke='#345'
          stroke-width='1.5'
        ></line>
      </transition-group>
      <transition-group
        tag='g'
        name='selectedSet'
        id='selectedSet'
        v-if='selectedSet || hoveredSet'
      >
        <line
          key='pathset'
          x1='10'
          v-bind:x2='this.width/3'
          v-bind:y1='105'
          v-bind:y2='105'
          stroke='#345'
        ></line>
      </transition-group>
      <transition-group
        tag='g'
        name='datasets'
        id='datasets'
      >
        <circle
          v-on:click='selectedBubble ? null : select(bubble, index)'
          v-on:mouseover='hover(bubble, index)'
          v-on:mouseleave='hover(null)'
          v-for='(bubble, index) in bubbles'
          v-bind:key='`basic${bubble.id}`'
          v-bind:r='bubble.r'
          v-bind:opacity='bubble.opacity'
          v-bind:fill='(!selectedBubble && hoveredBubble && hoveredBubble.name === bubble.name) ? bubble.hoverFill : bubble.fill'
          :class='!selectedBubble && bubble.filename ? `selectable` : ``'
          v-bind:cx='bubble.x'
          v-bind:cy='bubble.y'
          v-bind:selected='bubble.selected'
        ></circle>
      </transition-group>
      <transition-group
        tag='g'
        name='selectedDataset'
        id='selectedDataset'
        v-if='selectedBubble || hoveredBubble'
      >
        <dataset
          v-if='selectedBubble'
          v-on:unselect='unselect'
          v-on:selectSet='selectSet'
          v-on:selectGraph='selectGraph'
          v-on:hoverGraph='hoverGraph'
          v-on:setDisplayedGraphs='setDisplayedGraphs'
          v-bind:key='`datasetComponent${selectedBubble.id}`'
          :selectedBubble='selectedBubble'
          :selectedGraph='selectedGraph'
          :selectedSet='selectedSet'
          :transitionEnded='transitionEnded'
          :centerX='centerX'
          :centerY='centerY'
          :radius='radius'
        ></dataset>

        <set
          v-if='selectedSet'
          v-on:selectDepth='selectDepth'
          v-bind:key='`setComponent${selectedSet.id}`'
          :selectedSet='selectedSet'
          :selectedDepth='selectedDepth'
          :selectedGraph='selectedGraph'
          :centerX='centerX'
          :centerY='centerY'
          :radius='radius - 12'
        ></set>
        <graph
          v-if='selectedGraph'
          v-on:selectedSet='selectSet'
          v-on:hoverSet='hoverSet'
          v-bind:key='`graphComponent${selectedGraph.id}`'
          :selectedGraph='selectedGraph'
          :selectedSet='selectedSet'
          :filterSetsEntities='filterSetsEntities'
          :filterSetsTypes='filterSetsTypes'
          :centerX='centerX - 8'
          :centerY='centerY - 8'
          :radius='radius - 22'
        ></graph>
        <links
          key='Links'
          v-if='selectedPath && pathsDimensions'
          :selectedPath='selectedPath'
          :selectedGraph='selectedGraph'
          :selectedLinks='selectedLinks'
          :displayedGraphs='displayedGraphs'
          :width='width'
          :centerX='centerX'
          :centerY='centerY'
          :radius='radius'
          :pathsDimensions='pathsDimensions'
        ></links>
        <paths
          key='PathExplorer'
          v-if='selectedSet && pathsDimensions'
          v-on:hoverPart='hoverPart'
          v-on:hoverType='hoverType'
          v-on:hoverJoint='hoverJoint'
          v-on:selectJoint='selectJoint'
          v-on:selectPart='selectPart'
          :pathsDimensions='pathsDimensions'
          :filterExt='filterExt'
          :filteredJoints='filteredJoints'
          :prefixes='prefixes'
          :selectedSet='selectedSet'
          :selectedGraph='selectedGraph'
          :selectedDepth='selectedDepth'
          :selectedParts='selectedParts'
          :selectedPath='selectedPath'
          :selectedLink='selectedLink'
          :selectedEndpoint='selectedEndpoint'
          :selectedJoints='selectedJoints'
          :hoveredPart='hoveredPart'
          :hoveredJoint='hoveredJoint'
          :selectedJoint='selectedJoint'
          :hoveredPath='hoveredPath'
          :paths='paths'
          :parts='parts'
          :allTypes='allTypes'
          :width='width'
          :centerY='40'
          :radius='radius*2'
        ></paths>
      </transition-group>
      <transition-group
        tag='g'
        name='selectedLinks'
        id='selectedLinks'
        v-if='selectedBubble'
      >
        <g
          v-for='(bubble, index) in selectedLinks'
          v-bind:key='`links${bubble.endpoint}`'
        >
          <circle
            v-on:click='select(bubble, index)'
            stroke='#345'
            v-bind:fill='bubble.fill'
            v-bind:r='bubble.r'
            v-bind:cx='bubble.x'
            v-bind:cy='bubble.y'
            
          ></circle>
          <text
            fill='#345'
            v-bind:r='bubble.r'
            v-bind:x='bubble.x + 10'
            v-bind:y='bubble.y + 5'
            v-bind:class='bubble.selected ? `selected` : ``'
          >{{bubble.name}}</text>
        </g>
      </transition-group>

    </svg>
    <datasetInfo
      v-if='selectedBubble || hoveredBubble'
      v-bind:key='`datasetInfoComponent`'
      :selectedBubble='selectedBubble'
      :hoveredBubble='hoveredBubble'
      :radius='radius'
      :width='width'
      :height='height'
    ></datasetInfo>
    <graphInfo
      v-if='selectedGraph || hoveredGraph'
      v-bind:key='`graphInfoComponent`'
      :selectedGraph='selectedGraph'
      :hoveredGraph='hoveredGraph'
      :radius='radius'
      :width='width'
      :height='height'
    ></graphInfo>
    <setInfo
      v-if='selectedSet || hoveredSet'
      v-bind:key='`setInfoComponent`'
      :selectedSet='selectedSet'
      :hoveredSet='hoveredSet'
      :radius='radius'
      :width='width'
      :height='height'
    ></setInfo>
    <pathFinderInfo
      v-if='selectedSet'
      :selectedDepth='selectedDepth'
      :selectedSet='selectedSet'
      :selectedParts='selectedParts'
      :selectedPath='selectedPath'
      :selectedGraph='selectedGraph'
      :selectedEndpoint='selectedEndpoint'
      :selectedBubble='selectedBubble'
      :hoveredPath='hoveredPath'
      :selectedJoint='selectedJoint'
      :hoveredJoint='hoveredJoint'
      :filteredJoints='filteredJoints'
      v-on:replaceSelectedParts='replaceSelectedParts'
      v-on:selectEndpoint='selectEndpoint'
      v-on:selectJoint='selectJoint'
      :prefixes='prefixes'
      :properties='properties'
      :radius='radius'
      :paths='paths'
      :parts='parts'
      :width='width'
      :pathsDimensions='pathsDimensions'
    ></pathFinderInfo>
    <filterDatasets
      v-if='initFilterDatasets.triples'
      :initFilterDatasets='initFilterDatasets'
      :width='width'
      :radius='radius'
      :bubbles='bubbles'
      :pathsDimensions='pathsDimensions'
      v-on:setFilterDatasetsTriples='setFilterDatasetsTriples'
      v-on:setFilterDatasetsSearch='setFilterDatasetsSearch'
    ></filterDatasets>
    <filterSets
      v-if='selectedGraph'
      :selectedGraph='selectedGraph'
      :initFilterSetsEntities='initFilterSetsEntities'
      :initFilterSetsTypes='initFilterSetsTypes'
      :width='width'
      :radius='radius'
      :pathsDimensions='pathsDimensions'
      v-on:setFilterSetsEntities='setFilterSetsEntities'
      v-on:setFilterSetsTypes='setFilterSetsTypes'
      v-on:unselect='unselect'
    ></filterSets>
    <filterPaths
      v-if='selectedSet'
      :selectedSet='selectedSet'
      :initFilterPaths='initFilterPaths'
      :width='width'
      :radius='radius'
      :pathsDimensions='pathsDimensions'
      v-on:setFilterPathsCoverage='setFilterPathsCoverage'
      v-on:setFilterPathsUnique='setFilterPathsUnique'
      v-on:setFilterPathsTotal='setFilterPathsTotal'
      v-on:setFilterPathsDatatypes='setFilterPathsDatatypes'
      v-on:selectSet='selectSet'
    ></filterPaths>
    <filterExtensions
      v-if='selectedEndpoint'
      :selectedSet='selectedSet'
      :initFilterExt='initFilterExt'
      :width='width'
      :radius='radius'
      :pathsDimensions='pathsDimensions'
      v-on:setFilterExtCoverage='setFilterExtCoverage'
      v-on:setFilterExtUnique='setFilterExtUnique'
      v-on:setFilterExtTotal='setFilterExtTotal'
      v-on:setFilterExtDatatypes='setFilterExtDatatypes'
      v-on:setFilterExtName='setFilterExtName'
      v-on:selectEndpoint='selectEndpoint'
    ></filterExtensions>
    <tooltip
      :prefixes='prefixes'
      :properties='properties'
      :hoveredPart='hoveredPart'
      :hoveredType='hoveredType'
      :hoveredJoint='hoveredJoint'
      :width='width'
      :height='height'
    ></tooltip>
  </div>
</template>

<script>
import * as d3 from 'd3'
import dataset from '@/components/viz/Dataset'
import datasetInfo from '@/components/viz/DatasetInfo'
import graph from '@/components/viz/Graph'
import graphInfo from '@/components/viz/GraphInfo'
import paths from '@/components/viz/Paths'
import pathFinderInfo from '@/components/viz/PathFinderInfo'
import set from '@/components/viz/Set'
import setInfo from '@/components/viz/SetInfo'
import filterExtensions from '@/components/viz/FilterExtensions'
import filterPaths from '@/components/viz/FilterPaths'
import filterSets from '@/components/viz/FilterSets'
import filterDatasets from '@/components/viz/FilterDatasets'
import links from '@/components/viz/Links'
import tooltip from '@/components/viz/Tooltip'
const state = {
  bubbles: [],
  displayedGraphs: [],
  selectedBubble: null,
  hoveredBubble: null,
  selectedGraph: null,
  hoveredGraph: null,
  selectedSet: null,
  hoveredSet: null,
  selectedDepth: null,
  selectedPath: null,
  hoveredPath: null,
  selectedParts:[],
  hoveredPart: null,
  hoveredType: null,
  selectedLinks: [],
  selectedLink: {},
  hoveredLink: {},
  selectedEndpoint: null,
  selectedJoints: [],
  selectedJoint: null,
  hoveredJoint: null,
  paths: [],
  parts: [],
  allTypes: [],
  offset: 10,
  pathsDimensions: null,
  initFilterPaths: {},
  filterPaths: {},
  initFilterExt: {},
  filterExt: {},
  initFilterSetsTypes: [],
  filterSetsTypes: null,
  initFilterSetsEntities: [],
  filterSetsEntities: null,
  filteredJoints:[],
  filterDatasets: {},
  initFilterDatasets: {},
  provenanceDatasets: {},
  provenanceGraphs: {},
  provenanceSets: {},
  search: 'force',
  settings: {
    strokeColor: '#19B5FF'
  },
  transitionEnded: null,
  prefixes: {},
  properties: {}
}
export default {
  components: {dataset, datasetInfo, filterPaths, filterDatasets, filterExtensions, filterSets, graph, graphInfo, paths, pathFinderInfo, set, setInfo, links, tooltip},
  props: ['datacloud'],
  name: 'cloud',
  data() {
    return state
  },
  mounted() {
    //this.initData(this.datacloud)
    this.prepareData()
    this.setPathsDimensions()
    this.initFiltersDatasets()
    //console.log(Object.keys(this.datacloud), Object.keys(this.datacloud).length, Object.keys(this.datacloud).length > 0)
  },
  computed: {
    provenance() {
      if (this.selectedGraph && this.selectedGraph.sets) {
        return this.selectedGraph.sets.map(s => s.prov)
      }
      return []
    },
    svgStyle() {
      return {
        position: 'absolute'
      }
    },
    groupWidth() {
      return Math.floor(this.width / this.packs.length)
    },
    width() {
      return window.innerWidth - 5
    },
    circleWidth() {
      return this.width * 2 / 3
    },
    closeX() {
      return this.centerX - this.radius / 2
    },
    closeY() {
      return 10
    },
    height() {
      return window.innerHeight - 5
    },
    circleHeight() {
      return this.height / 2
    },
    centerX() {
      return Math.floor(this.width / 8 * 3  )
    },
    centerY() {
      return Math.floor(this.height / 4)
    },
    radius() {
      return Math.floor(this.circleHeight /2) - 10
    }
  },
  watch: {
    datacloud: function(newData) {
      //this.initData(newData)
    },
    'provenanceSets': function(newSets) {
      //console.log('less specific',newSets)
    },
    'provenanceSets.startedAtTime': function(newSets) {
      //console.log('djkwqjsdgkw',newSets)
    },
    selectedGraph: function (newSelectedGraph) {
      this.initFiltersSets()
      this.selectEndpoint(null)
    },
    selectedSet: function (newSelectedSet) {
      //console.log('this.selectedSet', newSelectedSet)
      this.initParts()
      this.initFiltersPaths()
      this.selectEndpoint(null)
    },
    selectedDepth: function (selectedDepth) {
      //console.log('this.selectedDepth', selectedDepth)
      this.initParts()
      this.selectEndpoint(null)
    },
    selectedParts: function (selectedParts) {
      //console.log('this.selectedParts', selectedParts)
      this.hoveredPart = null
      this.initParts()
    },
    selectedPath: function (selectedPath) {
      //console.log('this.selectedPath', selectedPath)
      this.selectEndpoint(null)
      this.setPathsDimensions()
      this.initFiltersExt()
    },
    selectedEndpoint: function (selectedEndpoint) {
      //console.log('this.selectedPath', selectedPath)
      this.setPathsDimensions()
    },
    selectedJoints: function () {
      this.initExt()
    },
    filterDatasets: function() {
      this.initData(this.datacloud)
    }
  },
  methods: {
    prepareData() {
      let children = []
      for (let key in this.datacloud) {
        children.push({
          name: this.datacloud[key].title,
          id: this.datacloud[key]._id,
          triples: this.datacloud[key].triples,
          filename: this.datacloud[key].filename,
          graphs: this.datacloud[key].graphs,
          endpoint: this.datacloud[key].endpoint
        })
      }
      this.children = children
    },
    initData() {
      // console.log(res)
      let children = this.children.filter(c => {
        if (this.filterDatasets.triples && (c.triples < this.filterDatasets.triples[0] || c.triples > this.filterDatasets.triples[1])) {
          return false
        } else if (this.filterDatasets.search && this.filterDatasets.search !== '' &&  ((c.name && c.name.toLowerCase().indexOf(this.filterDatasets.search.toLowerCase()) === -1) || !c.name) && (!c.endpoint || (c.endpoint && c.endpoint.toLowerCase().indexOf(this.filterDatasets.search.toLowerCase()) === -1 ))) {
          return false
        }
        return true
      })
      this.bubbles = this.initBubbles(this.getPack({ children }))
    },
    selectGraph(bubble) {
      //console.log('selectGraph', bubble)
      this.selectedGraph = bubble
      this.setPathsDimensions()
      if(! bubble) {
        this.selectSet(null)       
      }
    },
    hoverGraph(bubble) {
      //console.log('hoverGraph', bubble)
      this.hoveredGraph = bubble
    },
    hoverSet(bubble) {
      //console.log('hoverSet', bubble)
      this.hoveredSet = bubble
    },
    setDisplayedGraphs(graphs) {
      //console.log('displayedGraph', graphs)
      this.displayedGraphs = graphs
    },
    setFilterPathsCoverage(coverage) {
      this.filterPaths.coverage = coverage
      this.initParts()
    },
    setFilterPathsUnique(unique) {
      this.filterPaths.unique = unique
      this.initParts()
    },
    setFilterPathsTotal(total) {
      this.filterPaths.total = total
      this.initParts()
    },
    setFilterPathsDatatypes(datatypes) {
      this.filterPaths.datatypes = datatypes
      this.initParts()
    },
    setFilterExtCoverage(coverage) {
      this.filterExt = {
        ...this.filterExt,
        coverage
      }
      this.initExt()
    },
    setFilterExtUnique(unique) {
      this.filterExt = {
        ...this.filterExt,
        unique
      }
      this.initExt()
    },
    setFilterExtTotal(total) {
      this.filterExt = {
        ...this.filterExt,
        total
      }
      this.initExt()
    },
    setFilterExtDatatypes(datatypes) {
      //console.log('datatypes', datatypes)
      this.filterExt = {
        ...this.filterExt,
        datatypes
      }
      this.initExt()
    },
    setFilterExtName(name) {
      //console.log('name', name)
      this.filterExt = {
        ...this.filterExt,
        name
      }
      this.initExt()
    },
    setFilterSetsEntities(entities) {
      //console.log('setFilterSetsEntities', entities)
      this.filterSetsEntities = entities
    },
    setFilterSetsTypes(types) {
      //console.log('setFilterSetsTypes', types)
      this.filterSetsTypes = types
    },
    setFilterDatasetsTriples(triples) {
      //console.log('setFilterSetsEntities', entities)
      this.filterDatasets = {
        ...this.filterDatasets,
        triples
      }
    },
    setFilterDatasetsSearch(search) {
      //console.log('setFilterSetsTypes', types)
      this.filterDatasets = {
        ...this.filterDatasets,
        search
      }
    },
    setPathsDimensions() {
      this.pathsDimensions = {}
      let depth = this.selectedDepth || 1
      //console.log('compute', this.selectedDepth)

      let additionalPath = 1
      if (this.selectedJoints.length > 0) additionalPath ++
      let usefulWidth = this.width - (this.offset * ((additionalPath > 1) ? 7 : 6))
      let setsWidth = Math.floor(usefulWidth * 35 / 100)
      let pathsWidth = Math.floor(usefulWidth * 65 / 100)
      let pathWidth = Math.floor(pathsWidth / (depth + additionalPath))
      let setWidth = Math.floor(setsWidth / (depth + 1))
      let bgWidth = (pathWidth * depth) + (setWidth * (depth + 1)) + (this.offset * 2)
      let bgJointsWidth = additionalPath > 1 ? (pathWidth + (this.offset * 2)) : 0
      let filterWidth = pathsWidth / 2
      /*if (filterWidth < this.width * 0.25) {
        if (additionalPath > 1) filterWidth += pathWidth + this.offset
        if (filterWidth < this.width * 0.25) filterWidth += setWidth + (this.offset * 2)
        if (filterWidth < this.width * 0.25) filterWidth += pathWidth 
        if (filterWidth < this.width * 0.25) filterWidth += setWidth 
      }*/
      //console.log(this.selectedPath)
      this.pathsDimensions = {
        offset: this.offset,
        bgWidth,
        bgJointsWidth,
        usefulWidth,
        setsWidth,
        pathsWidth,
        pathWidth,
        setWidth,
        filterWidth
      }
    },
    selectLink(link) {
      //console.log('selectLink', link)
      this.selectedLink = link
    },
    selectEndpoint(endpoint) {
      //console.log('selectEndpoint', endpoint, this.selectedPath)
      this.selectedEndpoint = endpoint
      this.selectedJoints = this.selectedEndpoint ? this.selectedPath.joints.filter(j => {
        return j.endpoint === this.selectedEndpoint.endpoint
      }) : []
      if(!endpoint) this.initFiltersExt()
      //console.log(this.selectedJoints)
      this.setPathsDimensions()
      this.selectedJoint = null
    },
    hoverLink(link) {
      //console.log('selectLink', link)
      this.hoveredLink = link
    },
    selectSet(bubble) {
      //console.log('selectSet', bubble)
      this.selectedSet = bubble
      if(bubble) {
        this.selectedDepth = 1
        this.setPathsDimensions()
      } else {
        this.initFiltersPaths()
      }
    },
    getPack(bubbles) {
      return d3.pack()
        .size([this.width, this.height])
        .padding(4)(d3.hierarchy(bubbles).sum(d => ((d.triples)) ))
    },
    initBubbles(pack) {
      if (!pack.children) return []
      return pack.children.map((b, i) =>{
        return {
          id: b.data.id,
          name: b.data.name,
          index: i,
          originX: b.x,
          originY: b.y,
          originR: b.r > 0 ? b.r : 0.1,
          originFill: '#345',
          hoverFill: b.data.filename ? '#445c73' : '#345',
          selected: false,
          x: b.x,
          y: b.y,
          r: b.r > 0 ? b.r : 1,
          fill: '#345',
          graphs: b.data.graphs,
          publisher: b.data.contact_point ? b.data.contact_point.name : '',
          subject: b.data.keywords,
          description: b.data.description ? b.data.description.en : '',
          triples: b.data.triples,
          filename: b.data.filename,
          endpoint: b.data.endpoint
        }
      })
    },
    getPie(bubbles, start, end) {
      return d3.pie()
        .value(10)
        .data(bubbles)
        .startAngle(start)
        .endAngle(end)
    },
    initLinks(links) {
      //console.log('links before', links)
      let pad = (links.length < 10) ? 5 : 90 / links.length
      let start = (links.length < 10) ? 0 : - 35
      return links.map((link, i) => {
        let angle = ((i * pad) + start) * Math.PI / 180
        // console.log(angle)
        return {
          ...link,
          angle,
          r: 5,
          x: this.centerX + (this.radius + 70) * Math.cos(angle),
          y: this.centerY + (this.radius + 70) * Math.sin(angle)
        }
      })
    },
    selectDepth: function(depth) {
      //console.log('selectDepth',depth)
      this.selectedDepth = depth
      this.selectedParts = []
      this.hoveredPart = { uri: null, level: null }
      this.initParts()
      this.initFiltersPaths()
      this.setPathsDimensions()
    },
    unselect: function() {
      this.bubbles[this.selectedBubble.index].fill = '#52677c'
      this.selectedBubble = null
      this.selectedGraph = null
      this.selectedSet = null
      this.selectedDepth = null
      this.filterSetsEntities = null
      this.filterSetsTypes = null
      this.bubbles = this.bubbles.map((bubble) => {
        return {
          ...bubble,
          opacity: 1,
        }
      })
    },
    select: function(bubble, index) {
      this.selectedGraph = null
      this.transitionEnded = false
      //console.log('[[[',bubble)
      
      window.setTimeout(() => {
        this.transitionEnded = true
      }, 3000)

      fetch(bubble.filename)
        .then(res => res.json())
        .then((res) => {
          //console.log('hourra c chargè', res)
          if (this.selectedBubble) this.bubbles[this.selectedBubble.index].fill = '#52677c'
          this.bubbles = this.bubbles.map((bubble, i) => {
            return {
              ...bubble,
              graphs: index === i ? res.graphs : [],
              opacity: index === i ? 0.5 : 0.2
            }
          })
          this.prefixes = res.prefixes
          this.properties = res.properties
          // this.selectedBubble = null
          this.selectedBubble = this.bubbles[index]
          let links = this.findLinks(this.bubbles[index].graphs)
          //console.log('selectedLinks', links)

          this.selectedLinks = this.initLinks(links.map((link, i) => {
            let exists = this.bubbles.find(b => b.endpoint === link.endpoint)
            //console.log('this.bubbles', link.endpoint, this.bubbles)
            //console.log('exists', exists)
            return exists ? { ...exists, index: i } : {
              endpoint: link.endpoint,
              name: link.endpoint,
              index: i
            }
          }))
          //console.log('selectedLinks', this.selectedLinks)
          
          this.$nextTick().then(() => {
            // d3.select('#datasets circle[selected]').raise()
            // console.log(this.bubbles[index].originX, this.bubbles[index].x)
            this.selectedBubble = {
              ...this.selectedBubble,
              x: this.centerX,
              y: this.centerY,
              r: this.radius,
              selected: true
            }
          })
        })
        .catch(error => {
          console.error(error)
        })
      // console.log(bubble, index)
      
    },
    initExt () {
      if(this.selectedJoints){
        this.filteredJoints = this.selectedJoints.filter(joint=>{
          //
          //console.log(this.filterExt)
          
          if (this.filterExt.coverage && (joint.coverage < this.filterExt.coverage[0] || joint.coverage > this.filterExt.coverage[1])) {
            return false
          } else if (this.filterExt.unique && (joint.unique < this.filterExt.unique[0] || joint.unique > this.filterExt.unique[1])) {
            return false
          } else if (this.filterExt.total && (joint.total < this.filterExt.total[0] || joint.total > this.filterExt.total[1])) {
            return false
          } else if (this.filterExt.datatypes && (!this.filterExt.datatypes.includes(joint.category))) {
            return false
          } else if (this.filterExt.name && this.filterExt.name !== '' &&  joint.extension[0].uri.toLowerCase().indexOf(this.filterExt.name.toLowerCase()) === -1 ) {
            return false
          }
          return true
        })
      } else {
        this.filteredJoints = []
      }
    },
    findLinks: function(graphs) {
      return graphs.reduce((acc, cur) => {
        cur.sets.forEach(set => {
          set.paths.forEach(path => {
            if(path.countjoints) {
              path.countjoints.forEach(joint =>{
                if (!acc.includes(joint.endpoint)) acc.push(joint.endpoint)
              })
            }
          })
        })
        return acc
      },[]). map (target => { return { endpoint: target } })
    },
    hover: function(bubble) {
      this.hoveredBubble = bubble
      //console.log(bubble)
    },
    hoverPart(part) {
      //console.log('hoverPart',part)
      this.hoveredPart = part
      this.checkHoveredParts()
    },    
    hoverType(type) {
      this.hoveredType = type
    },
    hoverJoint(part) {
      this.hoveredJoint = part
    },
    selectJoint(part) {
      if (this.selectedJoint && part && part.uri === this.selectedJoint.uri) {
        part = null
      }
      this.selectedJoint = part
      if(part) {
        this.filteredJoints = [this.selectedJoint]
      } else {
        this.initExt()
      }
      //console.log('fn select joint', this.selectedJoint)
    },
    selectPart(part) {
      //console.log('selectPart',part)
      let removed = false
      let newParts = this.selectedParts.reduce((acc, cur) => {
        if (!(cur.level === part.level && cur.uri === part.uri)) {
          acc.push(cur)
        } else {
          removed = true
        }
        return acc
      }, [])
      if (!removed) {
        newParts.push(part)
      }
      this.selectedParts = newParts
    },
    replaceSelectedParts(newParts) {
      //console.log('replaceSelectedParts', newParts)
      this.selectedParts = newParts
    },
    initParts(){
      //console.log('[[[', this.filterCoverage, this.filterUnique, this.filterTotal, this.filterDatatypes)
      if (this.selectedSet) {
        this.paths = this.selectedSet.paths.filter(path => {
          //
          //console.log(path)
          if (path.level !== this.selectedDepth) {
            return false
          } else if (this.filterPaths.coverage && (path.coverage < this.filterPaths.coverage[0] || path.coverage > this.filterPaths.coverage[1])) {
            return false
          } else if (this.filterPaths.unique && (Number(path.unique) < this.filterPaths.unique[0] || Number(path.unique) > this.filterPaths.unique[1])) {
            return false
          } else if (this.filterPaths.total && (Number(path.total) < this.filterPaths.total[0] || Number(path.total) > this.filterPaths.total[1])) {
            return false
          } else if (this.filterPaths.datatypes && (!this.filterPaths.datatypes.includes(path.category))) {
            return false
          } else {
            let selected = true
            this.selectedParts.forEach(sel => {
              //console.log(sel, path.readablePath)
              if (path.readablePath[sel.level] && path.readablePath[sel.level].uri !== sel.uri) selected = false
            })
            return selected
          }
        })
        /*console.log(this.filterPaths.coverage,
        this.filterPaths.unique,
        this.filterPaths.total,
        this.filterPaths.datatypes,
        this.selectedSet.paths.filter(path => path.level === this.selectedDepth),
        this.paths)*/
        let parts = {}
        let totals = {}
        this.paths.forEach(path => {
            path.readablePath.forEach((part, level) => {
            if(!parts[level]) {
              parts[level] = {}
              totals[level] = 0
            }
            if (parts[level][part.uri] > 0) {
              parts[level][part.uri] ++
            } else {
              parts[level][part.uri] = 1
            }
            totals[level] ++
          })
        })
        let partArray = []
        //console.log(parts)
        let allTypes = []
        for(let level in parts) {
          let partPaths = []
          let percentStart = 0
          //console.log('level', level)
          for (let uri in parts[level]) {
            let partTypes = []
            let percentEnd = percentStart + Math.round(parts[level][uri] / totals[level] * 10000) / 10000
            //let entitiesNumber = Array.from({length: this.selectedDepth}, () => [])
            let relatedPaths = this.paths.filter(path => path.readablePath[level].uri === uri)
            let allLevels = relatedPaths
              .reduce((acc, cur) => {
                cur.readablePath.forEach((part, index) =>{
                  //console.log(acc, index, acc[index])
                  if (!partTypes[index]) partTypes[index] = []
                  if (!allTypes[index]) allTypes[index] = []
                  if(cur.types && cur.types.length > 0) {
                    Array.prototype.push.apply(partTypes[index], cur.types[index]);
                    Array.prototype.push.apply(allTypes[index], cur.types[index]);
                  }
                  //allTypes[level] = [...allTypes[level], ...cur.types]
                  //console.log(level, cur.types)
                  if (!acc[index][part.uri]) acc[index][part.uri] = []
                  acc[index][part.uri].push(cur.entities)
                })
                return acc 
              }, Array.from({length: this.selectedDepth}, () => { return {} }))
              /*.map(tab => {
                return [...new Set(tab)]
              })*/
            //console.log('partTypes avant', partTypes)
            partTypes = partTypes.map(allType=> {
              return [...new Set(allType)]
            })
            //console.log('partTypes apres', partTypes)
            partPaths.push({
              uri,
              level,
              partTypes,
              occ: parts[level][uri],
              percentStart,
              percentEnd,
              pathsNumber: relatedPaths.length,
              allLevels
            })
            percentStart = percentEnd 
          }
          partArray.push(partPaths)
        }
        allTypes = allTypes.map(allType=> {
          return [...new Set(allType)]
        })
        //
        //console.log('{{{{{{{{{', allTypes)
        this.parts = partArray
        this.checkSelectedParts()
        this.allTypes = allTypes
      } else {
        this.paths = []
        this.parts = []
        this.allTypes = []
      }
      //console.log('parts', this.parts)
    },
    makePathsGroups (paths) {
      let lengths = paths.reduce((acc, cur) => {
        if (!acc.includes(cur.level)) acc.push(cur.level)
        return acc
      }, [])
      return lengths.map(dep => {
        return {
          depth: dep,
          number: paths.filter(p => p.level === dep).length
        }
      })
    },
    initFiltersDatasets(){
      this.initFilterDatasets = {}
      let triples = []
      //console.log('parts', this.bubbles)
      this.children.forEach(dataset => {
        //console.log('parts', dataset)
        if (!triples[0] || triples[0] > dataset.triples) triples[0] = Math.floor(dataset.triples)
        if (!triples[1] || triples[1] < dataset.triples) triples[1] = Math.ceil(dataset.triples)
      })
      this.initFilterDatasets = { triples, search: '' }
      //console.log('parts', this.initFilterDatasets)
    },
    initFiltersSets(){
      this.initFilterSetsEntities = []
      this.initFilterSetsTypes = []
      if (this.selectedGraph) {
        this.selectedGraph.sets.forEach(set => {
          if (!this.initFilterSetsTypes.includes(set.type)) this.initFilterSetsTypes.push(set.type)
          if (!this.initFilterSetsEntities[0] || this.initFilterSetsEntities[0] > set.entities) this.initFilterSetsEntities[0] = set.entities
          if (!this.initFilterSetsEntities[1] || this.initFilterSetsEntities[1] < set.entities) this.initFilterSetsEntities[1] = set.entities
        })
      }
      //console.log('parts', this.initFilterSetsEntities, this.initFilterSetsTypes)
    },
    initFiltersPaths(){
      this.initFilterPaths = {}
      let coverage = []
      let total = []
      let unique = []
      let datatypes = []
      if (this.selectedSet && this.selectedDepth) {
        this.selectedSet.paths.filter(path => path.level === this.selectedDepth).forEach(path => {
          if (!datatypes.includes(path.category)) datatypes.push(path.category)
          if (!coverage[0] || coverage[0] > path.coverage) coverage[0] = Math.floor(path.coverage)
          if (!coverage[1] || coverage[1] < path.coverage) coverage[1] = Math.ceil(path.coverage)
          if (!unique[0] || unique[0] > path.unique) unique[0] = Number(path.unique)
          if (!unique[1] || unique[1] < path.unique) unique[1] = Number(path.unique)
          if (!total[0] || total[0] > path.total) total[0] = Number(path.total)
          if (!total[1] || total[1] < path.total) total[1] = Number(path.total)
        })
      }
      this.initFilterPaths = { coverage, total, unique, datatypes }
      //console.log('initFilterPaths', this.initFilterPaths.coverage)
    },
    initFiltersExt(){
      this.initFilterExt = {}
      let coverage = []
      let total = []
      let unique = []
      let datatypes = []
      //console.log('joints', this.selectedJoints)
      if (this.selectedPath && this.selectedPath.joints.length > 0) {
        this.selectedPath.joints.forEach(joint => {
          if (!datatypes.includes(joint.category)) datatypes.push(joint.category)
          if (!coverage[0] || coverage[0] > joint.coverage) coverage[0] = Math.floor(joint.coverage)
          if (!coverage[1] || coverage[1] < joint.coverage) coverage[1] = Math.ceil(joint.coverage)
          if (!unique[0] || unique[0] > joint.unique) unique[0] = Number(joint.unique)
          if (!unique[1] || unique[1] < joint.unique) unique[1] = Number(joint.unique)
          if (!total[0] || total[0] > joint.total) total[0] = Number(joint.total)
          if (!total[1] || total[1] < joint.total) total[1] = Number(joint.total)
        })
      }
      this.initFilterExt = { coverage, total, unique, datatypes }
      //console.log('parts', this.parts)
    },
    checkSelectedParts(){
      let maxPartLength = true
      this.parts.forEach(part => {
        if (part.length > 1) maxPartLength = false
      })
      if (maxPartLength) {
        this.selectedPath = this.paths.find(path => {
          let sel = true
          this.parts.forEach((part, i) => {
            if (path.readablePath[i].uri !== part[0].uri) sel = false
          })
          return sel
        })
      } else {
        this.selectedPath = null
      }
      //console.log('**', this.selectedPath)
    },
    checkHoveredParts(){
      if (this.hoveredPart) {
        let hp = this.hoveredPart.allLevels.reduce((acc, cur)=> {
          //console.log(cur)
          if (Object.keys(cur).length > acc) acc = Object.keys(cur).length
          return acc
        }, 0)
        //console.log(hp)
        if (hp === 1) {
          
          this.hoveredPath = this.selectedSet.paths.filter(p => {
            
            if (p.level === this.hoveredPart.allLevels.length) {
              let partsOk = true
              this.hoveredPart.allLevels.forEach((part, i) => {
                let key = Object.keys(part)[0]
                if (key !== p.readablePath[i].uri) partsOk = false 
              })
              return partsOk
            }
            return false
          })[0]
        } else {
          this.hoveredPath = null
        }
      } else {
        this.hoveredPath = null
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
line {
  cursor: pointer;
}
.selectable {
  cursor: pointer;
}
circle {
  transition: all 2s;
}
#selectedLinks text {
  font-size: 0.75em;
  font-weight: bold;
}
/*#selectedLinks text {
  display: none;
}
#selectedLinks .selected text, #selectedLinks :hover text {
  display: block;
}*/
.selectedDataset-leave-to, .selectedDataset-enter {
  opacity: 0;
}
.selectedLinks-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

</style>
