
<template>
  <g class="dataset">
    <transition-group
      name='selecteddataset'
      id='selecteddataset'
      tag='g'
    >
      <circle
        class='selectable'
        v-on:click='selectGraph(null, null)'
        v-bind:key='`selected${selectedBubble.id}`'
        v-bind:fill='selectedBubble.fill'
        v-bind:r='selectedBubble.r'
        v-bind:cx='selectedBubble.x'
        v-bind:cy='selectedBubble.y'
        v-bind:selected='selectedBubble.selected'
      ></circle>
    </transition-group>
    <transition-group
      tag='g'
      name='graphs'
      id='graphs'
      v-if='transitionEnded'
      v-bind:transform='`translate(${centerX - radius}, ${centerY - radius})`'
    >
      <circle
        v-for='(bubble) in graphs'
         v-on:click='selectGraph(bubble, index)'
        class='selectable'
        v-bind:key='`bggraphs${bubble.id}`'
        v-bind:r='bubble.r'
        v-bind:opacity='bubble.opacity'
        v-bind:fill='bubble.fill'
        v-bind:cx='bubble.x'
        v-bind:cy='bubble.y'
      ></circle>
      <circle
        class='selectable'
        v-on:click='selectGraph(bubble, index)'
        v-on:mouseover='hoverGraph(bubble)'
        v-on:mouseleave='hoverGraph(null)'
        v-for='(bubble, index) in graphs'
        v-bind:key='`graphs${bubble.id}`'
        v-bind:r='bubble.r > 10 ? bubble.r - 10 : 5'
        v-bind:opacity='bubble.opacity'
        fill='url(#basicPattern3)'
        v-bind:cx='bubble.x - (selectedSet && selectedGraph.sets.length > 1 ? 5 : 0)'
        v-bind:cy='bubble.y - (selectedSet && selectedGraph.sets.length > 1 ? 5 : 0)'
        v-bind:selected='bubble.selected'
      ></circle>
    </transition-group>
  </g>
</template>

<script>
import * as d3 from 'd3';
export default {
  name: 'dataset',
  props: ['selectedBubble', 'selectedGraph', 'selectedSet', 'centerX', 'centerY', 'radius', 'transitionEnded'],
  data() {
    return {
      graphTransitionEnded: null,
      graphs: [],
      colorScale: ['#21969d', '#6ab14a', '#37b3b8', '#8ec322', '#ffc831', '#fd7109', '#ff4505', '#97467c', '#775aaf', '#524dd0', '#332fb8']//['#477743', '#8ba448', '#d7c73e', '#cc9f38', '#c16b30', '#bd4c2c','#ba342b', '#943577', '#402f73', '#2e477f', '#356b99', '#4a8782']
    }
  },
  mounted() {
    this.initGraphs()
  },
  computed: {
    
  },
  methods: {
    color(index) {
      return (index < this.colorScale.length) ? this.colorScale[index] : this.colorScale[index - this.colorScale.length]
    },
    initGraphs() {
      this.graphs = this.initBubbles(this.getPack(this.prepareData(this.selectedBubble.graphs ? this.selectedBubble.graphs : [{ name: 'default', triples: this.selectedBubble.triples }])))
      if (this.graphs.length === 1) this.selectGraph(this.graphs[0], 0)
    },
    getCirclePath(cx,cy,r){
      return 'M' + cx + ',' + cy + 'm' + (-r) + ',0a' + r + ',' + r + ' 0 1,0 ' + (r * 2) + ',0a' + r + ',' + r + ' 0 1,0 ' + (-r * 2) + ',0'
    },
    unselect(){
      this.$emit('unselect')
    },
    unselectSet(){
      this.$emit('selectSet', null)
    },
    getPack(bubbles) {
      return d3.pack()
        .size([this.radius * 2, this.radius * 2])
        .padding(4)(d3.hierarchy(bubbles).sum(d => d.triples))
    },
    prepareData(graphs) {
      return {
        children: graphs.map(graph => {
          return {
            name: graph.name,
            id: `${graph.name}${Math.ceil(Math.random() * 100000)}`,
            triples: graph.triples,
            sets: graph.sets,
            publisher: graph.publisher,
            description: graph.description
          }
        })
      }
    },
    initBubbles(pack) {
      return pack.children.map((b, i) =>{
        return {
          id: b.data.id,
          name: b.data.name,
          index: i,
          originX: b.x,
          originY: b.y,
          originR: b.r > 0 ? b.r : 0.1,
          originFill: this.color(i),
          selected: false,
          x: b.x,
          y: b.y,
          r: b.r > 0 ? b.r : 0.1,
          fill: this.color(i),
          triples: b.data.triples,
          publisher: b.data.publisher,
          description: b.data.description,
          sets: b.data.sets
        }
      })
    },
    hoverGraph: function(bubble) {
      this.$emit('hoverGraph', bubble)
    },
    selectGraph: function(bubble, index) {
      //if(this.selectedBubble.graphs.length === 1) return 
      if(this.selectedGraph && index === this.selectedGraph.index) {
        this.unselectSet()
      } else if (this.selectedGraph && !bubble && !index) {
        this.$emit('selectGraph', null)
        this.graphs = this.graphs.map((graph) => {
          return {
            ...graph,
            fill: graph.originFill,
            x: graph.originX,
            y: graph.originY,
            r: this.graphs.length > 1 ? graph.originR : this.radius - 10,
          }
        })
      } else if(!this.selectedGraph) {
        this.graphTransitionEnded = false
        let timer = 2500 //(this.graphs.length === 1) ? 100 : 2000 
        this.$emit('selectGraph', null)
        //console.log(bubble, index)
        let offsets = this.graphs.length > 1 ? { x: -4, y: -10, r: -12 } : { x: 0, y: 0, r: -10 }
        this.graphs = this.graphs.map((graph, i) => {
          let angle = (45 + i * 5) * Math.PI / 180
          // console.log(angle)
    
          return {
            ...graph,
            x: index === i ? this.radius + offsets.x : this.radius + (this.radius - 12) * Math.cos(angle),
            y: index === i ? this.radius + offsets.y : this.radius + (this.radius - 12) * Math.sin(angle),
            r: index === i ? this.radius + offsets.r : 5
          }
        })
        window.setTimeout(() => {
          this.graphTransitionEnded = true
          this.$emit('selectGraph', this.graphs[index])
          this.$emit('setDisplayedGraphs', this.graphs)
        }, timer)
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
circle {
  transition: all 2s;
}
.selectable {
  cursor: pointer;
}
</style>
