
<template>
  <div
    class='rectDatasetInfo'
    key='rectDatasetInfo'
    v-bind:style='rectStyles'
    v-if='selectedBubble || hoveredBubble'
  >
    <h1>DATASET . {{name}}</h1>
    <div  v-if='selectedBubble'>
      <p v-if='countTriple > 0'>{{countTriple}} triples</p>
      <p v-if='selectedBubble.publisher'>Published by {{selectedBubble.publisher}}</p>
      <p v-if='selectedBubble.description'>{{selectedBubble.description}}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'datasetInfo',
  props: ['selectedBubble', 'hoveredBubble', 'selectedGraph', 'radius', 'width', 'height'],
  data() {
    return {
      countTriple: null
    }
  },
  watch: {
    selectedBubble: function() {
      this.countTriples()
    }
  },
  computed: {
    name (){
      return this.selectedBubble ? this.selectedBubble.name : this.hoveredBubble.name
    },
    rectStyles() {
      return {
        maxWidth: this.rectWidth + 'px',
        marginLeft: this.rectX + 'px',
        marginTop: this.rectY + 'px'
      }
    },
    rectWidth() {
      return Math.round(this.width / 3) - this.radius
    },
    rectX() {
      return 10
    },
    rectY() {
      return 10
    }
  },
  methods: {
    countTriples (){
      this.countTriple = 0
      this.selectedBubble.graphs.forEach(g => {
        this.countTriple += g.triples
      })
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2, p {
  font-size: 0.75em;
  padding: 3px 0 0 0;
  margin: 0;
  line-height: 1.5em;
}
</style>
