
<template>
  <form
    class='filter'
    key='filterext'
    v-bind:style='formStyles'
  >
    <v-icon v-on:click='close'>mdi-close</v-icon>
    <legend>Filter paths extensions</legend>
    <div
      class='field'
      key='coverageKeyExt'
    >
      <label>Coverage</label>
      <v-text-field
        v-model="rangeCoverage[0]"
        class="mt-0"
        type="number"
      ></v-text-field>
      <v-range-slider
        v-model="rangeCoverage"
        v-bind:max="initFilterExt.coverage[1]"
        v-bind:min="initFilterExt.coverage[0]"

      ></v-range-slider>
      <v-text-field
        v-model="rangeCoverage[1]"
        class="mt-1"
        type="number"
      ></v-text-field>
    </div>
    <div
      class='field'
      key='uniqueKeyExt'
    >
      <label>Unique values</label>
      <v-text-field
        v-model="rangeUnique[0]"
        class="mt-0"
        type="number"
      ></v-text-field>
      <v-range-slider
        v-model="rangeUnique"
        v-bind:max="initFilterExt.unique[1]"
        v-bind:min="initFilterExt.unique[0]"
      ></v-range-slider>
      <v-text-field
        v-model="rangeUnique[1]"
        class="mt-1"
        type="number"
      ></v-text-field>
    </div>
    <div
      class='field'
      key='totalKeyExt'
    >
      <label>Total values</label>
      <v-text-field
        v-model="rangeTotal[0]"
        class="mt-0"
        type="number"
      ></v-text-field>
      <v-range-slider
        v-model="rangeTotal"
        v-bind:max="initFilterExt.total[1]"
        v-bind:min="initFilterExt.total[0]"
      ></v-range-slider>
      <v-text-field
        v-model="rangeTotal[1]"
        class="mt-1"
        type="number"
      ></v-text-field>
    </div>
    <div
      class='field'
      key='datatypeKeyExt'
    >
      <label>Datatype</label>
      <v-select
        v-model="datatypes"
        :items="initFilterExt.datatypes"
        :menu-props="{ maxHeight: '400' }"
        multiple
        class="select"
        persistent-hint
      >
        <template v-slot:selection="{ item, index }">
          <v-chip v-if="index === 0">
            <span>{{ item }}</span>
          </v-chip>
          <span
            v-if="index === 1"
            class="grey--text caption"
          >(+{{ datatypes.length - 1 }} others)</span>
        </template>
      </v-select>
    </div>
    <div
      class='field'
      key='nameKeyExt'
    >
      <label>Name</label>
      <v-text-field
        v-model="name"
      ></v-text-field>
    </div>
    
  </form>
</template>

<script>

export default {
  name: 'filterExt',
  props: [
    'initFilterExt',
    'width',
    'radius',
    'pathsDimensions'
  ],
  data() {
    return {
      rangeCoverage:[],
      rangeUnique:[],
      rangeTotal:[],
      datatypes: [],
      name: ''
    }
  },
  computed: {
    formStyles() {
      return {
        width: this.pathsDimensions.filterWidth + 'px',
        height: (this.radius * 1.5) + 'px',
        top: '40px',
        right: '40px',
        zIndex: 4
      }
    }
  },
  mounted() {
    this.datatypes = this.initFilterExt.datatypes
    this.rangeCoverage = this.initFilterExt.coverage
    this.rangeUnique = this.initFilterExt.unique
    this.rangeTotal = this.initFilterExt.total
  },
  methods: {
    close: function() {
      this.$emit('selectEndpoint', null)
    }
  },
  watch: {
    rangeCoverage(newCoverage) {
      //(val) => {  }
      this.$emit('setFilterExtCoverage', newCoverage)
    },
    rangeUnique(newUnique) {
      //(val) => {  }
      this.$emit('setFilterExtUnique', newUnique)
    },
    rangeTotal(newTotal) {
      //(val) => {  }
      this.$emit('setFilterExtTotal', newTotal)
    },
    datatypes(newDatatypes) {
      //(val) => {  }
      //console.log('newDatatypes', newDatatypes)
      this.$emit('setFilterExtDatatypes', newDatatypes)
    },
    name(newName) {
      //(val) => {  }
      //console.log('newName', newName)
      this.$emit('setFilterExtName', newName)
    },
    initFilterExt: function (newFilterDatatype) {
      this.datatypes = this.initFilterExt.datatypes
      this.rangeCoverage = this.initFilterExt.coverage
      this.rangeUnique = this.initFilterExt.unique
      this.rangeTotal = this.initFilterExt.total
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
