
<template>
  <form
    class='filter'
    key='filterdatasets'
    v-bind:style='formStyles'
  >
    <legend>Filter datasets</legend>
    <div
      class='field'
      key='coverageKey'
    >
      <label>Triples</label>
      <v-text-field
        v-model="rangeTriples[0]"
        class="mt-0"
        type="number"
      ></v-text-field>
      <v-range-slider
        v-model="rangeTriples"
        v-bind:max="initFilterDatasets.triples[1]"
        v-bind:min="initFilterDatasets.triples[0]"

      ></v-range-slider>
      <v-text-field
        v-model="rangeTriples[1]"
        class="mt-1"
        type="number"
      ></v-text-field>
    </div>
    <div
      class='field'
      key='nameKeyExt'
    >
      <label>Name / endpoint</label>
      <v-text-field
        v-model="search"
      ></v-text-field>
    </div>
  </form>
</template>

<script>

export default {
  name: 'filterDatasets',
  props: [
    'initFilterDatasets',
    'width',
    'radius',
    'pathsDimensions'
  ],
  data() {
    return {
      rangeTriples:[],
      search: ''
    }
  },
  computed: {
    formStyles() {
      return {
        width: this.pathsDimensions.filterWidth + 'px',
        height: (this.radius * 1.5) + 'px'
      }
    }
  },
  mounted() {
    this.rangeTriples = this.initFilterDatasets.triples
    this.search = this.initFilterDatasets.search
  },
  methods: {
  },
  watch: {
    rangeTriples(newTriples) {
      //(val) => {  }
      this.$emit('setFilterDatasetsTriples', newTriples)
    },
    search(newSearch) {
      //(val) => {  }
      this.$emit('setFilterDatasetsSearch', newSearch)
    },
    initFilterDatasets: function (newFilterTriples) {
      this.rangeTriples = this.initFilterDatasets.triples
      this.search = this.initFilterDatasets.search
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
form.filter {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 10px;
  border:1px solid #fff;
  background: #345;
  color: #fff;
  padding-bottom: 15px;
}
.field {
  display: flex;
  align-items: baseline;
  padding:0 10px;
}
.mt-0, .mt-1 {
  width: 60px;
  font-size: 0.7em;
  color:#fff;
}
.v-label {
  font-size: 1em;
}
.filter .v-input, .filter .v-list__tile__content { font-size: 0.75em; }
label { font-size: 0.75em; font-weight: bold; width: 100px; }
label,
.mt-0 {
  margin-right: 10px;
}
.mt-1 {
  margin-left: 10px;
  text-align: right;
}
.v-list__tile { height: 20px; }
.filter .v-input--slider { margin-top: 0; }
.filter .v-input__slot { margin-bottom: 0; }
.filter .v-messages { position: absolute; }
.filter .theme--light.v-icon,
.filter .theme--light.v-input:not(.v-input--is-disabled) input, 
.filter .theme--light.v-input:not(.v-input--is-disabled) textarea,
.filter .theme--light.v-select .v-select__selections,
.theme--light.v-label {
  color:#fff !important;
}
.filter .theme--light.v-text-field>.v-input__control>.v-input__slot:before {
  border-color: #fff !important;
}
.filter .theme--light.v-input--slider:not(.v-input--is-dirty) .v-slider__thumb {
  border-color: #fff !important;
}
.filter .primary {
    background-color: #fff !important;
    border-color: #fff !important;
}
.filter .v-text-field {
  padding: 0;
}
legend {
  padding: 10px;
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: bold;
}
.mdi-close { float: right; padding: 10px; cursor: pointer; }
</style>
