
<template>
  <form
    class='filter'
    key='filtercomp'
    v-bind:style='formStyles'
  >
    <div
      class='field'
      key='coverageKey'
    >
      <label>Coverage</label>
      <v-text-field
        v-model="rangeCoverage[0]"
        class="mt-0"
        type="number"
      ></v-text-field>
      <v-range-slider
        v-model="rangeCoverage"
        v-bind:max="initFilterCoverage[1]"
        v-bind:min="initFilterCoverage[0]"

      ></v-range-slider>
      <v-text-field
        v-model="rangeCoverage[1]"
        class="mt-1"
        type="number"
      ></v-text-field>
    </div>
    <div
      class='field'
      key='uniqueKey'
    >
      <label>Unique values</label>
      <v-text-field
        v-model="rangeUnique[0]"
        class="mt-0"
        type="number"
      ></v-text-field>
      <v-range-slider
        v-model="rangeUnique"
        v-bind:max="initFilterUnique[1]"
        v-bind:min="initFilterUnique[0]"
      ></v-range-slider>
      <v-text-field
        v-model="rangeUnique[1]"
        class="mt-1"
        type="number"
      ></v-text-field>
    </div>
    <div
      class='field'
      key='totalKey'
    >
      <label>Total values</label>
      <v-text-field
        v-model="rangeTotal[0]"
        class="mt-0"
        type="number"
      ></v-text-field>
      <v-range-slider
        v-model="rangeTotal"
        v-bind:max="initFilterTotal[1]"
        v-bind:min="initFilterTotal[0]"
      ></v-range-slider>
      <v-text-field
        v-model="rangeTotal[1]"
        class="mt-1"
        type="number"
      ></v-text-field>
    </div>
    <div
      class='field'
      key='datatypeKey'
    >
      <label>Datatype</label>
      <v-select
        v-model="datatypes"
        :items="initFilterDatatypes"
        :menu-props="{ maxHeight: '400' }"
        multiple
        class="select"
        persistent-hint
      ></v-select>
    </div>
  </form>
</template>

<script>

export default {
  name: 'filterGraphs',
  props: [
    'initFilterDatatypes',
    'initFilterCoverage',
    'initFilterUnique',
    'initFilterTotal',
    'width',
    'pathsDimensions'
  ],
  data() {
    return {
      rangeCoverage:[],
      rangeUnique:[],
      rangeTotal:[],
      datatypes: []
    }
  },
  computed: {
    formStyles() {
      return {
        width: this.pathsDimensions.filterWidth + 'px'
      }
    }
  },
  mounted() {
    this.datatypes = this.initFilterDatatypes
    this.rangeCoverage = this.initFilterCoverage
    this.rangeUnique = this.initFilterUnique
    this.rangeTotal = this.initFilterTotal
  },
  methods: {
  },
  watch: {
    rangeCoverage(newCoverage) {
      //(val) => {  }
      this.$emit('setFilterCoverage', newCoverage)
    },
    rangeUnique(newUnique) {
      //(val) => {  }
      this.$emit('setFilterUnique', newUnique)
    },
    rangeTotal(newTotal) {
      //(val) => {  }
      this.$emit('setFilterTotal', newTotal)
    },
    datatypes(newDatatypes) {
      //(val) => {  }
      this.$emit('setFilterDatatypes', newDatatypes)
    },
    initFilterDatatype: function (newFilterDatatype) {
      this.datatypes = newFilterDatatype
    },
    initFilterCoverage: function (newFilterCoverage) {
      this.rangeCoverage = newFilterCoverage
    },
    initFilterUnique: function (newFilterUnique) {
      this.rangeUnique = newFilterUnique
    },
    initFilterTotal: function (newFilterTotal) {
      this.rangeTotal = newFilterTotal
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
form.filter {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 10px;
  background: #345;
  color: #fff;
  padding-bottom: 15px;
}
.field {
  display: flex;
  align-items: baseline;
  padding:0 10px;
}
.mt-0, .mt-1 {
  width: 60px;
  font-size: 0.7em;
  color:#fff;
}
.filter .v-input, .filter .v-list__tile__content { font-size: 0.75em; }
label { font-size: 0.75em; font-weight: bold; width: 140px; }
label,
.mt-0 {
  margin-right: 10px;
}
.mt-1 {
  margin-left: 10px;
  text-align: right;
}
.filter .v-input--slider { margin-top: 0; }
.filter .v-input__slot { margin-bottom: 0; }
.filter .v-messages { position: absolute; }
.filter .theme--light.v-icon,
.filter .theme--light.v-input:not(.v-input--is-disabled) input, 
.filter .theme--light.v-input:not(.v-input--is-disabled) textarea,
.filter .theme--light.v-select .v-select__selections {
  color:#fff !important;
}
.filter .theme--light.v-text-field>.v-input__control>.v-input__slot:before {
    border-color: #fff !important;
}
.filter .theme--light.v-input--slider:not(.v-input--is-dirty) .v-slider__thumb {
  border-color: #fff !important;
}
.filter .primary {
    background-color: #fff !important;
    border-color: #fff !important;
}
</style>
