
<template>
  <form
    class='filter'
    key='filterpaths'
    v-bind:style='formStyles'
  >
    <v-icon v-on:click='close'>mdi-close</v-icon>
    <legend>Filter paths</legend>
    <div
      class='field'
      key='coverageKey'
    >
      <label>Coverage</label>
      <v-text-field
        v-model="rangeCoverage[0]"
        class="mt-0"
        type="number"
      ></v-text-field>
      <v-range-slider
        v-model="rangeCoverage"
        v-bind:max="initFilterPaths.coverage[1]"
        v-bind:min="initFilterPaths.coverage[0]"

      ></v-range-slider>
      <v-text-field
        v-model="rangeCoverage[1]"
        class="mt-1"
        type="number"
      ></v-text-field>
    </div>
    <div
      class='field'
      key='uniqueKey'
    >
      <label>Unique values</label>
      <v-text-field
        v-model="rangeUnique[0]"
        class="mt-0"
        type="number"
      ></v-text-field>
      <v-range-slider
        v-model="rangeUnique"
        v-bind:max="initFilterPaths.unique[1]"
        v-bind:min="initFilterPaths.unique[0]"
      ></v-range-slider>
      <v-text-field
        v-model="rangeUnique[1]"
        class="mt-1"
        type="number"
      ></v-text-field>
    </div>
    <div
      class='field'
      key='totalKey'
    >
      <label>Total values</label>
      <v-text-field
        v-model="rangeTotal[0]"
        class="mt-0"
        type="number"
      ></v-text-field>
      <v-range-slider
        v-model="rangeTotal"
        v-bind:max="initFilterPaths.total[1]"
        v-bind:min="initFilterPaths.total[0]"
      ></v-range-slider>
      <v-text-field
        v-model="rangeTotal[1]"
        class="mt-1"
        type="number"
      ></v-text-field>
    </div>
    <div
      class='field'
      key='datatypeKey'
    >
      <label>Datatype</label>
      <v-select
        v-model="datatypes"
        :items="initFilterPaths.datatypes"
        :menu-props="{ maxHeight: '400' }"
        multiple
        class="select"
        persistent-hint
      >
        <template v-slot:selection="{ item, index }">
          <v-chip v-if="index === 0">
            <span>{{ item }}</span>
          </v-chip>
          <span
            v-if="index === 1"
            class="grey--text caption"
          >(+{{ datatypes.length - 1 }} others)</span>
        </template>
      </v-select>
    </div>
  </form>
</template>

<script>

export default {
  name: 'filterPaths',
  props: [
    'initFilterPaths',
    'width',
    'radius',
    'pathsDimensions'
  ],
  data() {
    return {
      rangeCoverage:[],
      rangeUnique:[],
      rangeTotal:[],
      datatypes: []
    }
  },
  computed: {
    formStyles() {
      return {
        width: this.pathsDimensions.filterWidth + 'px',
        height: (this.radius * 1.5) + 'px',
        top: '30px',
        right: '30px',
        zIndex: 3
      }
    }
  },
  mounted() {
    this.datatypes = this.initFilterPaths.datatypes
    this.rangeCoverage = this.initFilterPaths.coverage
    this.rangeUnique = this.initFilterPaths.unique
    this.rangeTotal = this.initFilterPaths.total
  },
  methods: {
    close: function() {
      this.$emit('selectSet', null)
    }
  },
  watch: {
    rangeCoverage(newCoverage) {
      //(val) => {  }
      this.$emit('setFilterPathsCoverage', newCoverage)
    },
    rangeUnique(newUnique) {
      //(val) => {  }
      this.$emit('setFilterPathsUnique', newUnique)
    },
    rangeTotal(newTotal) {
      //(val) => {  }
      this.$emit('setFilterPathsTotal', newTotal)
    },
    datatypes(newDatatypes) {
      //(val) => {  }
      this.$emit('setFilterPathsDatatypes', newDatatypes)
    },
    initFilterPaths: function (newFilterDatatype) {
      this.datatypes = this.initFilterPaths.datatypes
      this.rangeCoverage = this.initFilterPaths.coverage
      this.rangeUnique = this.initFilterPaths.unique
      this.rangeTotal = this.initFilterPaths.total
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
