
<template>
  <form
    class='filter'
    key='filtersets'
    v-bind:style='formStyles'
  >
    <v-icon v-on:click='close'>mdi-close</v-icon>
    <legend>Filter collections</legend>
    <div
      class='field'
      key='coverageKey'
    >
      <label>Number of entities</label>
      <v-text-field
        v-model="rangeEntities[0]"
        class="mt-0"
        type="number"
      ></v-text-field>
      <v-range-slider
        v-model="rangeEntities"
        v-bind:max="initFilterSetsEntities[1]"
        v-bind:min="initFilterSetsEntities[0]"

      ></v-range-slider>
      <v-text-field
        v-model="rangeEntities[1]"
        class="mt-1"
        type="number"
      ></v-text-field>
    </div>
    <div
      class='field'
      key='datatypeKey'
    >
      <label>Rdf:type</label>
      <v-text-field
        v-model="type"
      ></v-text-field>
    </div>
  </form>
</template>

<script>

export default {
  name: 'filterSets',
  props: [
    'initFilterSetsEntities',
    'initFilterSetsTypes',
    'width',
    'radius',
    'pathsDimensions'
  ],
  data() {
    return {
      rangeEntities:[],
      type: ''
    }
  },
  computed: {
    formStyles() {
      return {
        width: this.pathsDimensions.filterWidth + 'px',
        height: (this.radius * 1.5) + 'px',
        top: '20px',
        right: '20px',
        zIndex: 2
      }
    }
  },
  mounted() {
    this.rangeEntities = this.initFilterSetsEntities
    this.types = this.initFilterSetsTypes
  },
  methods: {
    close: function() {
      this.$emit('unselect')
    }
  },
  watch: {
    rangeEntities(newEntities) {
      //(val) => {  }
      this.$emit('setFilterSetsEntities', newEntities)
    },
    type(newType) {
      //(val) => {  }
      this.$emit('setFilterSetsTypes', newType)
    },
    initFilterSetsEntities: function (newFilterEntities) {
      this.rangeEntities = newFilterEntities
    },
    initFilterSetsTypes: function (newFilterTypes) {
      this.types = newFilterTypes
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
