
<template>
  <form
    class='filter'
    key='filtercomp'
  >
    <div
      class='field'
      key='startedAtTime'
      v-if='min && max'
    >
      <label>startedAtTime</label>
        <p>{{minText.toDateString()}}</p>

          <v-range-slider
            v-model="range"
            v-bind:max="max"
            v-bind:min="min"
          ></v-range-slider>
        <p>{{maxText.toDateString()}}</p>
    </div>
  </form>
</template>

<script>

export default {
  name: 'filterProv',
  props: ['provenance'],
  data() {
    return {
      dateKeys: ['startedAtTime'],
      startedAtTime: [],
      range:[],
      min: null,
      max: null,
      minText: null,
      maxText: null
    }
  },
  computed: {
    
  },
  methods: {
  },
  watch: {
    // whenever question changes, this function will run
    provenance: function (newProvenance) {
      //console.log(newProvenance)
      newProvenance.forEach((prov) => {
        for (let key in prov) {
          // console.log(key, prov[key])
          this[key].push(prov[key])
        }
      })
      this.dateKeys.forEach((key) => {
        this[key] = this[key].sort((a, b) => a - b)
      })
      this.range = [this.startedAtTime[0] || 0, this.startedAtTime[this.startedAtTime.length - 1] || 0]
      this.min = this.range[0]
      this.max = this.range[1]
      // console.log(this.startedAtTime)
    },
    range: function (newRange) {
      // console.log('new range', newRange)
      
      this.minText =  this.min ? new Date(newRange[0]) : null
      this.maxText = this.max ?new Date(newRange[1]) : null
      this.$emit('setProvenance', 'Sets', 'startedAtTime', newRange)
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
form {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px 0 0 0;
  width: 400px;
}
</style>
