
<template>
  <div
    class='rectGraphInfo'
    key='rectGraphInfo'
    v-bind:style='rectStyles'
  >
    <h1>GRAPH . {{name}}</h1>
    <div  v-if='selectedGraph'>
      <p>{{selectedGraph.triples}} triples</p>
      <p v-if='selectedGraph.publisher'>Published by {{selectedGraph.publisher}}</p>
      <p v-if='selectedGraph.description'>{{selectedGraph.description}}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'graphInfo',
  props: ['selectedGraph', 'hoveredGraph', 'radius', 'width', 'height'],
  data() {
    return {
    }
  },
  computed: {
    name (){
      return this.selectedGraph ? this.selectedGraph.name : this.hoveredGraph.name
    },
    rectStyles() {
      return {
        maxWidth: this.rectWidth + 'px',
        marginLeft: this.rectX + 'px',
        marginTop: this.rectY + 'px'
      }
    },
    rectWidth() {
      return Math.round(this.width / 3) - this.radius
    },
    rectHeight() {
      return 80
    },
    rectX() {
      return 10
    },
    rectY() {
      return 10
    }
  },
  methods: {
    
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2, p {
  font-size: 0.75em;
  color: #345;
  padding: 0;
  margin: 0;
  line-height: 1.5em;
}
</style>
