
<template>
  <g class="graph">
    <transition-group
      tag='g'
      name='sets'
      id='sets'
      v-bind:transform='`translate(${centerX - radius}, ${centerY - radius})`'
    >
      <circle
        v-on:click='selectSet(bubble, index)'
        v-on:mouseover='hoverSet(bubble)'
        v-for='(bubble, index) in sets'
        v-bind:key='`graphsbg${bubble.id}`'
        v-bind:r='bubble.r'
        v-bind:opacity='bubble.opacity'
        v-bind:fill='selectedGraph.fill'
        v-bind:cx='bubble.x'
        v-bind:cy='bubble.y'
        v-bind:stroke-width='2'
        stroke='#efefef'
        v-bind:selected='bubble.selected'
      ></circle>
      <circle
        v-on:click='selectSet(bubble, index)'
        v-on:mouseover='hoverSet(bubble)'
        v-on:mouseleave='hoverSet(null)'
        v-for='(bubble, index) in sets'
        v-bind:key='`graphs${bubble.id}`'
        v-bind:r='bubble.r - 10'
        v-bind:opacity='bubble.opacity'
        fill='url(#basicPattern)'
        v-bind:cx='bubble.x'
        v-bind:cy='bubble.y'
        v-bind:selected='bubble.selected'
      ></circle>
    </transition-group>
  </g>
</template>

<script>
import * as d3 from 'd3';
export default {
  name: 'graph',
  props: ['selectedGraph', 'selectedSet', 'centerX', 'centerY', 'radius', 'filterSetsEntities', 'filterSetsTypes', 'transitionEnded'],
  data() {
    return {
      setTransitionEnded: null,
      sets: []
    }
  },
  mounted() {
    this.initSets()
  },
  watch: {
    selectedGraph: function () {
      //console.log('this.propsDefined', this.propsDefined)
      this.initSets()
    },
    selectedSet: function (newSelectedSet) {
      //console.log('this.selectedSet', newSelectedSet)
      if(!newSelectedSet) {
        this.unselectSet()
      } else {
        this.selectSet(newSelectedSet, newSelectedSet.index)
      }
    },
    filterSetsEntities: function () {
      this.initSets()
    },
    filterSetsTypes: function () {
      this.initSets()
    }
  },
  methods: {
    initSets() {
      if (this.selectedGraph) {
        let filtered = this.selectedGraph.sets.filter(set => {
          let valid1
          let valid2
          if (!this.filterSetsTypes || this.filterSetsTypes === '' || set.type.toLowerCase().indexOf(this.filterSetsTypes.toLowerCase()) !== -1) {
            valid1 = true
          }
          if (this.filterSetsEntities && this.filterSetsEntities.length > 0) {
            valid2 = (set.entities >= this.filterSetsEntities[0] && set.entities <= this.filterSetsEntities[1])
          }
          return valid1 && valid2
        })
        this.sets = this.initBubbles(this.getPack(this.prepareData(filtered))) 
      } else {
        this.sets = []
      }
      // console.log(this.sets)
    },
    getCirclePath(cx, cy, r){
      return 'M' + cx + ',' + cy + 'm' + (-r) + ',0a' + r + ',' + r + ' 0 1,0 ' + (r * 2) + ',0a' + r + ',' + r + ' 0 1,0 ' + (-r * 2) + ',0'
    },
    getPack(bubbles) {
      return d3.pack()
        .size([this.radius * 2, this.radius * 2])
        .padding(4)(d3.hierarchy(bubbles).sum(d => d.entities))
    },
    prepareData(sets) {
      return {
        children: sets.map(set => {
          return {
            name: set.type,
            id: set.type,
            entities: set.entities,
            paths: set.paths,
            prov: set.prov
          }
        }).filter(set => {
          let ok = true
          for (let key in this.provenance) {
            let range = this.provenance[key]
            //console.log(range, set)
            ok = set.prov[key] &&
              set.prov[key] >= range[0] &&
              set.prov[key] <= range[1]
          }
          return ok
        })
      }
    },
    hoverSet: function(bubble) {
      this.$emit('hoverSet', bubble)
    },
    initBubbles(pack) {
      return  pack.children ? pack.children.map((b, i) =>{
        return {
          id: b.data.id,
          name: b.data.name,
          index: i,
          originX: b.x,
          originY: b.y,
          originR: b.r > 0 ? b.r : 0.1,
          originFill: '#f8f8f8',
          selected: false,
          x: b.x,
          y: b.y,
          r: b.r > 0 ? b.r : 0.1,
          fill: '#f8f8f8',
          paths: b.data.paths,
          prov: b.data.prov,
          entities: b.data.entities,
          strokeWidth: 5
        }
      }) : []
    },
    computeAngle: function(center, point) {
      let angle = 180/Math.PI * Math.atan((point.y - center.y) / (point.x - center.x)) 
      if (point.x < center.x) angle += 180
      if (angle < 0) angle = 360 + angle
      // if (angle > 0) angle = 360 - angle
      return angle
    },
    computePointOnCircle: function(center, radius, angle) {
      angle = angle * Math.PI/180 
      let x = center.x + Math.round(radius * Math.cos(angle))
      let y = center.y + Math.round(radius * Math.sin(angle))
      //console.log('x: ', x, ', y: ', y, center, radius, angle)
      return {x, y}
    },
    unselectSet: function() {
      //console.log('unselect set ?')
      this.sets = this.sets.map((set) => {
        return {
          ...set,
          fill: set.originFill,
          x: set.originX,
          y: set.originY,
          r: this.sets.length > 1 ? set.originR : this.radius - 10,
        }
      })
    },
    selectSet: function(bubble, index) {
      if(!this.selectedSet || index !== this.selectedSet.index) {
        this.setTransitionEnded = false
        let timer = 2000 //(this.graphs.length === 1) ? 100 : 2000 
        //this.$emit('selectedSet', null)
        //console.log(bubble, index)
        this.sets = this.sets.map((set, i) => {
          let angle = index === i ? 235  : (45 + (i % 2 === 0 ? (i/2 * -5) : ((i-1)/2 * 5)))
          //console.log(angle, i,  (i % 2 === 0 ? -2.5 : 2.5))
          let rad = index === i ? this.radius * 2/3 : this.radius 
          let newPoint = this.computePointOnCircle({x: this.radius, y: this.radius}, rad, angle)
          
          return {
            ...set,
            angle,
            x: newPoint.x,
            y: newPoint.y,
            r: index === i ? this.radius / 3 : 5
          }
        })
        window.setTimeout(() => {
          this.setTransitionEnded = true
          this.$emit('selectedSet', this.sets[index])
        }, timer)
      }





      /*
      if (index !== null&& (this.selectedSet === null || index !== this.selectedSet.index)) {
        this.setTransitionEnded = false
        // console.log(bubble, index)       
        this.sets = this.sets.map((set, i) => {
          let clickedAngle = this.computeAngle({x: this.radius, y:this.centerY}, {x: set.originX, y: set.originY})
          //let newX = this.radius + this.radius * 3/4 * Math.cos(clickedAngle)
          //let newY = this.radius + this.radius * 3/4 * Math.sin(clickedAngle)
          let newPoint = this.computePointOnCircle({x: this.radius, y: this.radius}, this.radius * 2/3, clickedAngle)
          //console.log('angle', i, this.radius, newPoint, clickedAngle)
          return {
            ...set,
            angle: clickedAngle,
            x: index === i ? newPoint.x : set.originX,
            y: index === i ? newPoint.y : set.originY,
            r: index === i ? this.radius / 3 : set.originR,
            opacity: index === i ? 1 : 0
          }
        })
        window.setTimeout(() => {
          this.setTransitionEnded = true
          this.selectedSet = this.sets[index]
          this.$emit('selectedSet', this.sets[index])
        }, 2000)
        this.$nextTick().then(() => {
          
        })
      } else {
        this.$emit('selectedSet', null)
        this.selectedSet = null
        this.sets = this.sets.map((set) => {
          return {
            ...set,
            fill: set.originFill,
            x: set.originX,
            y: set.originY,
            r: set.originR,
            opacity: 1
          }
        })
      }*/
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
circle {
  transition: all 2s;
  cursor: pointer;
}
.sets-leave-to, .sets-enter /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
