
<template>
  <transition-group

    tag='g'
    name='links'
    id='links'
  >
    <path
      v-for='(link, index) in links'
      :key='`pathlink${index}`'
      :d='link.path'
      stroke="#345"
      fill="none"
    />
  </transition-group>
</template>

<script>
export default {
  name: 'links',
  props: [
    'selectedGraph',
    'selectedLinks',
    'displayedGraphs',
    'selectedPath',
    'width',
    'centerX',
    'centerY',
    'radius',
    'pathsDimensions'
  ],
  data() {
    return {
      links: [],
      sefulWidth: null,
      pathWidth: null,
      pathsWidth: null,
      setWidth: null,
      setsWidth: null,
      offset: null,
      bgWidth: null,
      bgJointsWidth: null
    }
  },
  watch: {
    pathsDimensions: function (pathsDimensions) {
      //console.log('this.propsDefined', this.propsDefined)
      this.setPathsDimensions()
      this.initLinks()
    },
    selectedPath: function() {
      this.setPathsDimensions()
      this.initLinks()
    },
    displayedGraphs: function() {
      //console.log('////',this.displayedGraphs)
      this.setPathsDimensions()
      this.initLinks()
    },
    selectedLinks: function() {
      this.setPathsDimensions()
      this.initLinks()
    }
  },
  mounted() {
    this.setPathsDimensions()
    this.initLinks()
  },
  methods: {
    setPathsDimensions(){
      //console.log(this.pathsDimensions)
      this.usefulWidth = this.pathsDimensions.usefulWidth
      this.pathWidth = this.pathsDimensions.pathWidth
      this.pathsWidth = this.pathsDimensions.pathsWidth
      this.setWidth = this.pathsDimensions.setWidth
      this.setsWidth = this.pathsDimensions.setsWidth
      this.offset = this.pathsDimensions.offset
      this.bgWidth = this.pathsDimensions.bgWidth
      this.bgJointsWidth = this.pathsDimensions.bgJointsWidth
    },
    initLinks() {
      if (this.selectedPath && this.selectedPath.joints  && this.displayedGraphs) {
        //console.log('joints', this.bgWidth)
        this.links =  this.selectedPath.countjoints    
          .map((link) => {
            
            let origin = { x: this.bgWidth + this.offset, y: this.radius * 2.5 }
            
            let destination = this.getPosDest(link)
            //console.log('**** toto', origin,destination )
            let anchor = { x: (origin.x + this.radius), y: this.radius }
            let path = `M${origin.x} ${origin.y} Q${anchor.x} ${anchor.y} ${destination.x} ${destination.y}`
            return { ...link, path }
          })
      }
      //console.log('****', this.selectedPath.countjoints, this.links)
    },
    getPosDest(link) {
      //console.log('**** tata', link )
      if (link.jointtype === 'graph') {
        let thegraph = this.displayedGraphs.find(g => g.name === link.target)   
        return { x: thegraph.x + this.centerX - this.radius,  y: thegraph.y + this.centerY - this.radius }
      } else {
        //console.log('**** toto', this.selectedLinks )
        let thedataset = this.selectedLinks.find(d => d.name === link.endpoint || d.endpoint === link.endpoint )
        //console.log('**** titi', thedataset, this.selectedLinks, link )
        return { x: thedataset.x,  y: thedataset.y }
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>  
path {
    
}
</style>
