
<template>
  <transition-group
    v-if='selectedGraph && selectedSet'
    tag='g'
    name='pathsExplorer'
    id='pathsExplorer'
    v-bind:transform='`translate(${0}, ${centerY + radius})`'
  >
    <rect
      name='bg'
      key='bg'
      :height='radius'
      :width='bgWidth'
      :x='offset'
      rx='10'
      ry='10'
      fill='#345'
    ></rect>
    
    <rect
      name='entities'
      key='entities'
      :x='offset * 2'
      :y='getSetY()'
      :height='usefulHeight'
      :width='setWidth - 2'
      v-bind:fill='selectedGraph.fill'
    ></rect>
    <rect
      name='entitiespattern'
      key='entitiespattern'
      :x='(offset * 2) + 5'
      :y='getSetY() + 5'
      :height='usefulHeight - 10'
      :width='setWidth - 12'
      fill='url(#basicPattern)'
    ></rect>
    <text
      key='entitiestype'
      :x='30'
      :y='30'
      :width='setWidth - 2'
      v-on:mouseover='(e) => hoverType(selectedSet.name, e)'
      v-on:mouseleave='hoverType(null)'
      fill='#fff'
    >{{selectedSet.name}}</text>   
    <g
      v-for='level in levels'
      v-bind:key='`level${level}`'
    >
      <rect
        v-for='(part, index) in parts[level]'
        :key='`path${index}level${level}`'
        :x='getPathX(level)'
        :y='getPathY(part.percentStart)'
        :height='pathHeight((part.percentEnd - part.percentStart), parts[level].length, index)'
        :width='pathWidth - 2' 
        :opacity='hoveredPart === null || (hoveredPart.allLevels && hoveredPart.allLevels[level][part.uri]) ? 0.9 : 0.5' 
        v-bind:fill='selectedGraph.fill'
        v-on:click='selectPart(part)'
        v-on:mouseover='(e) => hoverPart(part, e)'
        v-on:mouseleave='hoverPart(null)'
      ></rect>
      <text
        v-for='(part, index) in parts[level]'
        :key='`textpath${index}level${level}`'
        :x='getPathX(level) + 3'
        :y='getTextY(part.percentStart,part.percentEnd)'
        :width='pathWidth - 2'
        v-on:click='selectPart(part)'
        v-on:mouseover='(e) => hoverPart(part, e)'
        v-on:mouseleave='hoverPart(null)'
        fill='#fff'
      >{{part.uri}}</text>   
      <rect
        v-if='level < selectedDepth-1'
        name='entitiesinter'
        key='entitiesinter'
        :x='getSetX(level)'
        :y='getSetY()'
        :height='usefulHeight'
        :width='setWidth - 2'
        v-bind:fill='selectedGraph.fill'
      ></rect>
      <rect
        v-if='level < selectedDepth-1'
        name='entitiesinterpattern'
        key='entitiesinterpattern'
        :x='5 + getSetX(level)'
        :y='getSetY() + 5'
        :height='usefulHeight - 10'
        :width='setWidth - 12'
        fill='url(#basicPattern)'
      ></rect>
      
      <g
        v-if='level === selectedDepth-1'
      >
        <rect
          name='entitiesvalues'
          :key='`entitiesvalueslevel${level}`'
          :x='getSetX(level)'
          :y='getSetY()'
          :height='usefulHeight'
          :width='setWidth'
          v-bind:fill='selectedGraph.fill'
        ></rect>
        <rect
          name='entitiesvaluespattern'
          :key='`entitieslevel${level}`'
          :x='getSetX(level) + 5'
          :y='getSetY()'
          :height='usefulHeight'
          :width='setWidth - 10'
          fill='url(#basicPattern)'
        ></rect>
      </g>
      <g v-if='hoveredPart'>
        <text
          v-for='(type, index) in hoveredPart.partTypes[level]'
          :key='`texttype${index}level${level}`'
          :x='5 + getSetX(level)'
          :y='28 + index * 12'
          :width='setWidth - 10'
          fill='#fff'
          v-on:mouseover='(e) => hoverType(type, e)'
          v-on:mouseleave='hoverType(null)'
        >{{type}}</text>
      </g>
      <g v-else>
        <text
          v-for='(type, index) in allTypes[level]'
          :key='`texttype${index}level${level}`'
          :x='5 + getSetX(level)'
          :y='28 + index * 12'
          :width='setWidth - 10'
          fill='#fff'
          v-on:mouseover='(e) => hoverType(type, e)'
          v-on:mouseleave='hoverType(null)'
        >{{type}}</text>
      </g>
    </g>
    <g
      v-if='selectedEndpoint'
      v-bind:key='`link`'
    >
      <rect
        name='bgjoints'
        key='bgjoints'
        :height='radius'
        :width='pathWidth'
        :x='bgWidth + (offset * 2)'
        rx='10'
        ry='10'
        fill='#345'
      ></rect>
      <rect
        name='bgjoints2'
        key='bgjoints2'
        :height='radius - (offset * 2)'
        :width='pathWidth - (offset * 2)'
        :x='bgWidth + (offset * 3)'
        :y='offset'
        fill='#fff'
      ></rect>
      <rect
        v-for='(part, index) in limitedFilteredJoints'
        :key='`joint_path${index}`'
        :x='getPathX(selectedDepth) + (offset * 2)'
        :y='offset + (extensionHeight * index)'
        :height='extensionHeight - 2'
        :width='pathWidth'
        :opacity='0.2'
        fill='#345'
        v-on:click='selectJoint(part)'
        v-on:mouseover='(e) => hoverJoint(part, e)'
        v-on:mouseleave='hoverJoint(null)'
      ></rect>
       <text
        v-for='(part, index) in limitedFilteredJoints'
        :key='`textjoint${index}`'
        :x='getPathX(selectedDepth) + (offset * 3)'
        :y='offset + (extensionHeight * index) + (extensionHeight/2)'
        :width='pathWidth - 2' 
        fill='#345'
        v-on:click='selectJoint(part)'
        v-on:mouseover='(e) => hoverJoint(part, e)'
        v-on:mouseleave='hoverJoint(null)'
      >{{part.extension[0].uri}}</text>
    </g>
    <g
      v-if='(!selectedEndpoint && (selectedPath || hoveredPath)) || (selectedEndpoint && (selectedJoint || hoveredJoint))'
      v-bind:key='`pathdetail`'
    >
      <rect
        name='bgdetail'
        key='bgdetail'
        :height='radius - 2'
        :width='pathWidth'
        :x='getDetailX()'
        rx='10'
        ry='10'
        :stroke='selectedGraph.fill'
        stroke-width='2'
        fill='#fff'
      ></rect>
    </g>
  </transition-group>
</template>

<script>
export default {
  name: 'paths',
  props: [
    'selectedSet',
    'selectedGraph',
    'selectedPath', 
    'selectedEndpoint', 
    'selectedDepth', 
    'selectedLink', 
    'selectedJoint',
    'hoveredJoint',
    'selectedJoints',
    'filteredJoints',
    'hoveredPart',
    'hoveredPath',
    'selectedParts',
    'prefixes',
    'paths',
    'parts',
    'allTypes',
    'pathsDimensions',
    'width',
    'centerY',
    'radius',
    'filterExt'
  ],
  data() {
    return {
      usefulWidth: null,
      pathWidth: null,
      pathsWidth: null,
      setWidth: null,
      setsWidth: null,
      offset: null,
      bgWidth: null,
      bgJointsWidth: null,
      limitedFilteredJoints: []
    }
  },
  watch: {
    pathsDimensions: function (pathsDimensions) {
      //console.log('this.propsDefined', this.propsDefined)
      this.setPathsDimensions()
    },
    allTypes: function (newparts) {
      //console.log('newparts', newparts)
    },
    selectedSet: function (newselectedSet) {
      //console.log('newselectedSet', newselectedSet)
    },
    filteredJoints: function(filteredJoints) {
     
      let max = (filteredJoints.length < 50) ? filteredJoints.length : 50
      this.limitedFilteredJoints = filteredJoints.slice(0, max)
      //console.log(filteredJoints, this.limitedFilteredJoints)
    }
  },
  mounted() {
    this.setPathsDimensions()
  },
  computed: {
    levels() {
      //console.log('levels', this.selectedDepth, Array.from({length: this.selectedDepth}, (x, i) => i))
      return Array.from({length: this.selectedDepth}, (x, i) => i)
    },
    extensionHeight() {
      return this.usefulHeight / this.limitedFilteredJoints.length
    },
    usefulHeight() {
      return this.radius - (this.offset * 2)
    }
  },
  methods: {
    setPathsDimensions(){
      //console.log(this.pathsDimensions)
      this.usefulWidth = this.pathsDimensions.usefulWidth
      this.pathWidth = this.pathsDimensions.pathWidth
      this.pathsWidth = this.pathsDimensions.pathsWidth
      this.setWidth = this.pathsDimensions.setWidth
      this.setsWidth = this.pathsDimensions.setsWidth
      this.offset = this.pathsDimensions.offset
      this.bgWidth = this.pathsDimensions.bgWidth
      this.bgJointsWidth = this.pathsDimensions.bgJointsWidth
    },
    getSetX(index) {
      return (this.offset * 2) + this.setWidth * (index + 1) + this.pathWidth * (index + 1)
    },
    getPathX(index) {
      return (this.offset * 2) + this.setWidth * (index + 1) + this.pathWidth * (index)
    },
    getDetailX() {
      let x = this.bgWidth + (this.offset * 2)
      if(this.bgJointsWidth) x += this.bgJointsWidth - this.offset
      return x
    },
    getSetY() {
      return this.offset
    },
    getTypeY() {
      return this.offset + this.usefulHeight / 2
    },
    getPathY(percentStart) {
      return this.offset + this.usefulHeight * percentStart
    },
    getTextY(percentStart, percentEnd) {
      return this.offset + this.usefulHeight * (percentStart + ((percentEnd - percentStart) / 2)) + 3
    },
    hoverPart(part, event) {
      if (part && event) {
        //console.log(event)
        part.x = event.clientX
        part.y = event.clientY
      }
      //console.log('hoverPart', part)
      this.$emit('hoverPart', part)
    },
    hoverType(type, event) {
      if (type && event) {
        type = { uri: type }
        type.x = event.clientX
        type.y = event.clientY
      }
      this.$emit('hoverType', type)
    },
    hoverJoint(part, event) {
      if (part && event) {
        part.x = event.clientX
        part.y = event.clientY
      }
      //console.log('hoverJoint', part)
      this.$emit('hoverJoint', part)
    },
    selectJoint(part) {
      //console.log('selectJoint', part)
      this.$emit('selectJoint', part)
    },
    selectPart(part) {
      this.$emit('selectPart', part)
    },
    getPathLabel(level) {
      //console.log('get Path Label', level, this.hoveredPart.level, this.selectedParts)
      let levelSelected =  this.selectedParts.reduce((acc, cur) => {
        if (cur.level === this.hoveredPart.level) acc = true
        return acc
      }, false)
      if (this.hoveredPart && this.hoveredPart.level == level && !levelSelected) {
        return this.hoveredPart.uri
      }
    },
    getSetLabel(level) {
      if (this.selectedPath) {
        // console.log('////', this.selectedPath)
        if (level === 0) {
          return this.selectedPath.entities
        } else if (level === this.selectedDepth) {
          return `unique: ${this.selectedPath.unique}, total: ${this.selectedPath.total}`
        }
      }
      return ''
    },
    pathHeight(percent, totalLength, index) {
      let offset = 2 - (totalLength * 0.05)
      if (offset < 0 || index === totalLength - 1) offset = 0
      return this.usefulHeight * percent - offset
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
circle {
  transition: all 2s;
}
rect {
  cursor:pointer;
}
text {
  font-size: 0.7em;
  cursor:pointer;
}
</style>
