
<template>
  <div
    class='rectPathFinderInfo'
    key='rectPathFinderInfo'
    v-if='selectedSet'
    
  >
    <div
      v-bind:style='pfStyle'
    >
      <div 
        class="selectPath"
        v-for='level in levels'
        v-bind:key='`levelAutocomplete${level}`'
        :style="acStyle(level)" 
      >
        <v-autocomplete
          :items="parts[level]"
          @change="(e) => selectPart(level, e)"
          color="white"
          :clearable="true"
          :dense="true"
          item-text="uri"
          item-value="uri"
          v-model="selected[level]"
          :return-object="true"
          placeholder="start typing"
          prepend-icon="mdi-database-search"
        ></v-autocomplete>
      </div>
      <div 
        class="selectPath selectJoint"
        :style="acStyle(levels.length)" 
      >
        <v-autocomplete
          v-if='selectedEndpoint && selectedPath'
          :items="filteredJoints"
          color="white"
          :clearable="true"
          @change="selectJoint"
          :dense="true"
          item-text="extension[0].uri"
          item-value="extension[0].uri"
          v-model="selectedJointF"
          :return-object="true"
          placeholder="start typing"
          prepend-icon="mdi-database-search"
        ></v-autocomplete>
      </div>
    </div>
    <div 
      v-if='selectedEndpoint'
      class="export"
      :style='exportExtensionsStyle'
    >
      <a download='spfjoints' :href='`data:text/plain;charset=utf-8,${encodeURIComponent(JSON.stringify(downloadableJoints, null, 2))}`'>Export {{downloadableJoints.length}} extensions</a>
    </div>
    <div 
      v-else
      class="export"
      :style='exportPathsStyle'
    >
      <a download='spfpaths' :href='`data:text/plain;charset=utf-8,${encodeURIComponent(JSON.stringify(downloadablePaths, null, 2))}`'>Export {{downloadablePaths.length}} paths</a>
    </div>
    <div 
      class="detailPath"
      :style='detailStyle'
      v-if='(!selectedEndpoint && (selectedPath || hoveredPath)) || (selectedEndpoint && (selectedJoint || hoveredJoint))'
    >
    
      <div
        v-if='detailPath'
      >
        <strong>Entities at the beginning of the path</strong> 
        {{detailPath.entities}} ({{detailPath.coverage}} %)<br /><br />
        <strong>Set of values at the end of the {{selectedEndpoint ? 'extension' : 'path'}}</strong> 
        <span v-if='selectedBubble.endpoint && selectedPath && !selectedEndpoint'><a target='_blank' :href='`${selectedBubble.endpoint}?${selectedGraph.name !== "default" ? "default-graph-uri=" + selectedGraph.name + "&" : "" }query=${encodeURIComponent(makePathQuery(selectedPath))}`'>query values</a> / <a download='spfquery' target='_blank' :href='`${selectedBubble.endpoint}?${selectedGraph.name !== "default" ? "default-graph-uri=" + selectedGraph.name + "&" : "" }qtxt=${encodeURIComponent(makePathQuery(selectedPath))}`'>see query</a></span><br />
        <span v-if='detailPath.category'>Datatype: {{detailPath.category}}<br /></span>
        <span v-if='detailPath.unique'>Unique values: {{detailPath.unique}}<br /></span>
        <span v-if='detailPath.total'>Total values: {{detailPath.total}}<br /></span>
        <span v-if='detailPath.charlength'>Average charlenth: {{detailPath.charlength}}<br /></span>
        <span v-if='detailPath.min'>First value: {{detailPath.min}}<br /></span>
        <span v-if='detailPath.max'>Last value: {{detailPath.max}}<br /></span>
        <span v-if='detailPath.languages && detailPath.languages.length > 0'>Languages: 
          <span 
            v-for='(link, i) in detailPath.languages'
            v-bind:key='`lang${i}`'
          >
            {{link}}, 
          </span><br />
        </span>
        <br />
        <span v-if='!selectedEndpoint'>
          <strong >Joints and paths extensions</strong><br />
          <span
            v-for='(joint, i) in detailSummary'
            v-bind:key='`joint${i}`'
          >{{joint.endpoint}}<br/> {{joint.extensions.length}} extensions 
            <a href='#' 
              @click="(e) => selectLink(joint)">display</a><br />
          </span>
        </span>
      </div>
    </div>
    
  </div>
</template>

<script>
export default {
  name: 'pathFinderInfo',
  props: [
    'selectedSet',
    'selectedPath',
    'selectedEndpoint',
    'hoveredPath',
    'selectedBubble', 
    'selectedGraph', 
    'selectedParts', 
    'selectedDepth',
    'selectedJoint',
    'filteredJoints',
    'hoveredJoint', 
    'pathsDimensions',
    'parts',
    'paths', 
    'radius', 
    'width', 
    'height',
    'prefixes',
    'properties'
    ],
  data() {
    return {
      usefulWidth: null,
      pathWidth: null,
      pathsWidth: null,
      setWidth: null,
      setsWidth: null,
      detailPath:null,
      detailSummary:null,
      offset: null,
      bgWidth: null,
      bgJointsWidth: null,
      selected: {},
      downloadablePaths:[],
      selectedJointF: null
    }
  },
  watch: {
    pathsDimensions: function (pathsDimensions) {
      //console.log('this.propsDefined', this.propsDefined)
      this.setPathsDimensions()
    },
    selectedParts: function(newSelectedParts) {
      //console.log('changement externe ?', newSelectedParts)
      this.selected = {}
      newSelectedParts.forEach(sp => {
        this.selected[sp.level] = sp
      })
      this.downloadablePaths = this.makeDownloadablePaths()
      //console.log('changement externe ?', this.selected)
    },
    selectedPath: function() {
      this.initDetail()      
    },
    hoveredPath: function() {
      this.initDetail()
    },
    hoveredJoint: function() {
      this.initDetail()
    },
    selectedJoint: function(newSelectedJoint) {
      //console.log('selectedJoint updated', newSelectedJoint)
      this.selectedJointF = newSelectedJoint
    },
    paths: function() {
      //console.log(selectedPath)
      this.downloadablePaths = this.makeDownloadablePaths()
    },
    filteredJoints: function() {
      this.downloadableJoints = this.makeDownloadableJoints()
      //console.log('this.downloadableJoints', this.downloadableJoints)
    }
    
  },
  computed: {
    levels() {
      return Array.from({length: this.selectedDepth}, (x, i) => i)
    },
    pfStyle() {
      return {
        position: 'absolute',
        left: this.setWidth + (this.offset * 2) - 30 + 'px',
        top: (this.radius * 2) - 10 + 'px'
      }
    },
    detailStyle() {
      return {
        position: 'absolute',
        left: (this.bgWidth + (this.offset * 3) + ((this.bgJointsWidth) ? (this.bgJointsWidth - this.offset) :0)) + 'px',
        width: (this.pathWidth - 15) + 'px',
        top: (this.radius * 2) + 42 + 'px',
        maxHeight: (this.radius * 2) - 10 + 'px',
        height: (this.radius * 2) - 10 + 'px',
        overflowY: 'scroll'
      }
    },
    exportExtensionsStyle() {
      return {
        position: 'absolute',
        right: '40px',
        top: (this.radius * 2) + 'px'
      }
    },
    exportPathsStyle() {
      return {
        position: 'absolute',
        right: '30px',
        top: (this.radius * 2) + 'px'
      }
    }
  },
  mounted() {
    this.setPathsDimensions()
    this.downloadablePaths = this.makeDownloadablePaths()
  },
  methods: {
    selectJoint() {
      this.$emit('selectJoint', this.selectedJointF)
    },
    initDetail(){
      //console.log(this.hoveredJoint, this.selectedJoint, this.selectedEndpoint)
      if (this.hoveredJoint) {
        this.detailPath = this.hoveredJoint
      } else if (this.selectedJoint) {
        this.detailPath = this.selectedJoint
      } else if (this.selectedEndpoint) {
        this.detailPath = null
      } else {
        //console.log(this.hoveredPath)
        if (this.hoveredPath) {
          this.detailPath = this.hoveredPath
          let endpoints = this.hoveredPath.joints.reduce((acc, cur) => {
            if (!acc.includes(cur.endpoint)) acc.push(cur.endpoint)
            return acc
          }, [])
          this.detailSummary = endpoints.map(endpoint => {
            return {
              endpoint,
              extensions: this.hoveredPath.joints.filter(j => j.endpoint === endpoint)
            }
          })
        }else if (this.selectedPath) {
          this.detailPath = this.selectedPath
          let endpoints = this.selectedPath.joints.reduce((acc, cur) => {
            if (!acc.includes(cur.endpoint)) acc.push(cur.endpoint)
            return acc
          }, [])
          this.detailSummary = endpoints.map(endpoint => {
            return {
              endpoint,
              extensions: this.selectedPath.joints.filter(j => j.endpoint === endpoint)
            }
          })
        } else {
          this.detailPath = null
        }
      } 
    },
    makeDownloadablePaths() {
      if (this.selectedPath) return [this.selectedPath]
      return this.paths.map(path =>{
        let pref = path.entrypoint.split(':')
        let newPath = {
          'rdf:type': path.entrypoint.replace(pref[0] + ':', this.prefixes[pref[0]]),
          datatype: path.category,
          coverage: path.coverage,
          level: path.level,
          path: path.readablePath.map(rp => {
            pref = rp.uri.split(':')
            return rp.uri.replace(pref[0] + ':', this.prefixes[pref[0]])
          }),/*
          joints:path.joints,*/
          entities: path.entities,
          total: path.total,
          unique: path.unique
        }
        //if (path.joints.length > 0)  newPath.joints = path.joints
        if (path.avg)  newPath.avg = path.avg
        if (path.charlength)  newPath.charlength = path.charlength
        if (path.min)  newPath.min = path.min
        if (path.max)  newPath.max = path.max
        return newPath
      })
    },
    makeDownloadableJoints() {
      if (this.selectedJoint) return [this.selectedJoint]
      return this.filteredJoints.map(joint =>{
        let pref = this.selectedPath.entrypoint.split(':')
        //console.log(joint)
        let newJoint = {
          'rdf:type': this.selectedPath.entrypoint.replace(pref[0] + ':', this.prefixes[pref[0]]),
          datatype: joint.category,
          coverage: joint.coverage,
          path: this.selectedPath.readablePath.map(rp => {
            pref = rp.uri.split(':')
            return rp.uri.replace(pref[0] + ':', this.prefixes[pref[0]])
          }),
          extension: joint.extension[0].uri,
          entities: joint.entities,
          total: joint.total,
          unique: joint.unique
        }
        if (joint.avg)  newJoint.avg = joint.avg
        if (joint.charlength)  newJoint.charlength = joint.charlength
        if (joint.min)  newJoint.min = joint.min
        if (joint.max)  newJoint.max = joint.max
        return newJoint
      })
    },
    setPathsDimensions(){
      //console.log(this.pathsDimensions)
      this.usefulWidth = this.pathsDimensions.usefulWidth
      this.pathWidth = this.pathsDimensions.pathWidth
      this.pathsWidth = this.pathsDimensions.pathsWidth
      this.setWidth = this.pathsDimensions.setWidth
      this.setsWidth = this.pathsDimensions.setsWidth
      this.offset = this.pathsDimensions.offset
      this.bgWidth = this.pathsDimensions.bgWidth
      this.bgJointsWidth = this.pathsDimensions.bgJointsWidth
    },
    getSetX(index) {
      return this.setWidth * (index + 1) + this.pathWidth * (index + 1)
    },
    getPathX(index) {
      return this.setWidth + this.setWidth * (index + 1) + this.pathWidth * (index)
    },
    acStyle(level) {
      return {
        width: (this.pathWidth+ 30) + 'px',
        marginRight: (this.setWidth - 30)+ 'px'
      }
    },
    selectPart(level, event) {
      //console.log(level, event)
      //console.log('SELECTED', this.selected)
      let allSelected = []
      for (let key in this.selected) {
        if(this.selected[key]) allSelected.push(this.selected[key])
      }
      //console.log(allSelected)
      this.$emit('replaceSelectedParts', allSelected)
      //if ()
      //return this.parts[level].map(part => part.uri)
    },
    selectLink(link) {
      if (link.jointtype === 'graph') {
        //console.log('select graph joint')
      } else {
        //console.log('select link', link)
        this.$emit('selectEndpoint', link)
      }
    },
    unselectLink() {
      this.$emit('selectEndpoint', null)
    },
    hoverLink(link) {
      this.$emit('hoverLink', link)
    },
    makePathQuery(path) {
      const pathParts = path.readablePath
      const entrypointName = 'entities'
      const propName = 'values'
      let entrypoint = path.entrypoint
      let pref = entrypoint.split(':')
      entrypoint = entrypoint.replace(pref[0] + ':', this.prefixes[pref[0]])
      let query = `?${entrypointName} rdf:type <${entrypoint}> . `
      for (let index = 0; index < pathParts.length; index ++) {
        let predicate = pathParts[index].uri
        pref = predicate.split(':')
        predicate = predicate.replace(pref[0] + ':', this.prefixes[pref[0]])
        let thisSubject = (index === 0) ? entrypointName : `${propName}inter${index-1}`
        let thisObject = (index === (pathParts.length-1)) ? propName : `${propName}inter${index}`
        query = query.concat(`?${thisSubject} <${predicate}> ?${thisObject} . `)        
      }
      return `SELECT DISTINCT ?${propName} (COUNT(?${propName}) AS ?count) WHERE { ${query} } GROUP BY ?values`
    },
    makeJointQuery(joint, path) {
      /*const sample = path.mib
      const entrypointName = 'entities'
      const propName = 'values'
      let entrypoint = path.entrypoint
      let pref = entrypoint.split(':')
      entrypoint = entrypoint.replace(pref[0] + ':', this.prefixes[pref[0]])
      let query = `?${entrypointName} rdf:type <${entrypoint}> . `
      for (let index = 0; index < pathParts.length; index ++) {
        let predicate = pathParts[index].uri
        pref = predicate.split(':')
        predicate = predicate.replace(pref[0] + ':', this.prefixes[pref[0]])
        let thisSubject = (index === 0) ? entrypointName : `${propName}inter${index-1}`
        let thisObject = (index === (pathParts.length-1)) ? propName : `${propName}inter${index}`
        query = query.concat(`?${thisSubject} <${predicate}> ?${thisObject} . `)        
      }
      return `SELECT DISTINCT ?${propName} (COUNT(?${propName}) AS ?count) WHERE { ${query} } GROUP BY ?values`*/
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.export {
  
}
.selectPath {
  float: left;
}
.selectPath input {
  font-size: 0.7em;
}
.selectJoint {
  margin-left: 15px;
}
.v-list__tile {
  height: 22px;
}
.v-list__tile__title, .test {
  height: 18px;
  line-height: 18px;
}
.showLinks {
  float: left;
  width: 250px;
  padding-top:20px;
  text-align:right;
}
.showLink {
  cursor: pointer;
}
.detailPath {
  color:#345;
  font-size: 0.75em;
  padding-top: 10px;
}
.detailEntities {
  clear: both;
}
</style>
