
<template>
  <g class="set" v-if='selectedGraph && selectedSet'>
    <transition-group
      tag='g'
      name='paths'
      id='paths'
      v-bind:transform='`translate(${centerX - radius}, ${centerY - radius})`'
    >
      <path
        v-for='(path, index) in pathsGroups'
        :key='`pathsGroups${index}`'
        :d='path.line'
        stroke-width='15'
        stroke='#efefef'
        fill='transparent'
        :opacity='selectedDepth === (index+1) ? 1 : 0.8'
        v-on:click="selectDepth(index+1)"
      ></path>
    </transition-group>
  </g>
</template>

<script>
export default {
  name: 'set',
  props: ['selectedSet', 'selectedDepth', 'selectedGraph', 'centerX', 'centerY', 'radius'],
  data() {
    return {
      selectedPath: null,
      pathsGroups: []
    }
  },
  watch: {
    selectedSet: function (newSelectedSet) {
      //console.log('this.selectedSet', newSelectedSet)
      this.initPaths()
    }
  },
  mounted() {
    //console.log('selectedSet Mounted')
    this.initPaths()
  },
  computed: {
  },
  methods: {
    initPaths() {
      if (this.selectedSet && this.selectedSet.paths && this.selectedSet.paths.length > 0) {
        let pathsGroups = this.makePathsGroups(this.selectedSet.paths)
        //console.log('toto ' + this.selectedSet.pathsGroups)
        let angleSpan = this.computeTangentAngleSpan(this.selectedSet.angle)
        //console.log(this.selectedSet, angleSpan)
        angleSpan = this.cropAngleSpan(angleSpan, 40, 40)
        //console.log(angleSpan)
        let anglesPath = this.computeSpanSteps(angleSpan, pathsGroups.length)
        //console.log(anglesPath)
        let circleContainer = { center: { x: this.selectedGraph.x, y: this.selectedGraph.y }, radius: this.selectedGraph.r }
        let circleSet = { center: { x: this.selectedSet.x, y: this.selectedSet.y }, radius: this.selectedSet.r }
        let circlesDepth = this.computeCircleSteps(circleContainer, circleSet, this.selectedSet.angle, pathsGroups[pathsGroups.length-1].depth)
        //console.log(circlesDepth)
        let pathlines = this.computePaths(
          pathsGroups,
          anglesPath,
          circleContainer, 
          circleSet,
          circlesDepth
        )
        this.pathsGroups = pathsGroups.map((path, index) => {
          return {
            ...path,
            line: pathlines[index]
          }
        })
        //console.log(this.pathsGroups, this.selectedSet, this.selectedGraph)
      }
      
    },
    makePathsGroups (paths) {
      let lengths = paths.reduce((acc, cur) => {
        if (!acc.includes(cur.level)) acc.push(cur.level)
        return acc
      }, [])
      return lengths.map(dep => {
        return {
          depth: dep,
          number: paths.filter(p => p.level === dep).length
        }
      }).sort((a,b) => a.depth - b.depth)
    },
    computeTangentAngleSpan: function(angle) {
      let startAngle
      let endAngle
      if (angle < 180) {
        startAngle = angle + 90
      } else {
        startAngle = angle - 270
      }
      if (startAngle < 0) startAngle = startAngle + 360
      if (startAngle >= 360) startAngle = startAngle - 360
      endAngle = startAngle + 180
      if (endAngle >= 360) endAngle = endAngle - 360
      if (endAngle < 0) endAngle = endAngle + 360
      return [startAngle, endAngle]
    },
    cropAngleSpan: function(angleSpan, start, end) {
      let startAngle = angleSpan[0] + start
      let endAngle = angleSpan[1] - end
      if (startAngle >= 360) startAngle = startAngle - 360
      if (startAngle < 0) startAngle = startAngle + 360
      if (endAngle < 0) endAngle = endAngle + 360
      if (endAngle >= 360) endAngle = endAngle - 360
      return [startAngle, endAngle]
    },
    computeSpanSteps: function(span, stepsNumber) {
      let start = span[0]
      let end = span[1]
      if (start > end) end += 360
      let diff = end - start
      let step = Math.floor(diff / (stepsNumber - 1))
      let counter = 0
      let steps = []
      while (counter < stepsNumber) {
        let newstep = start + counter * step
        if (newstep >= 360) newstep = newstep - 360
        steps.push(newstep)
        counter ++
      }
      return steps.reverse()
    },
    computeCircleSteps: function(circleContainer, circleSet, angle, maxDepth) {
      let freeSpace = (circleContainer.radius * 2) - (circleSet.radius * 2) - 10
      let pad = freeSpace / (maxDepth)
      let circles = []
      for (let i = 1; i <= maxDepth; i++) {
        let newCircle = { center: {}, radius: null }
        newCircle.radius = (circleSet.radius * 2 + pad * i) / 2
        let radiusCenter = circleContainer.radius - newCircle.radius
        //console.log(angle, circleContainer.radius, newCircle.radius, radiusCenter)
        let angleRad = angle * Math.PI/180
        //console.log(angleRad)
        newCircle.center.x = circleContainer.center.x + Math.round(radiusCenter * Math.cos(angleRad))
        newCircle.center.y = circleContainer.center.y + Math.round(radiusCenter * Math.sin(angleRad))
        circles.push(newCircle)
        //console.log(newCircle)
      }
      return circles
    },
    computePaths: function(paths, angleSpan, circleContainer, circleSet, circlesSteps) {
      //
      let pathsPoints = []
      for (let i = 0; i < paths.length; i++) {
        let angleOrigin = angleSpan[i] * Math.PI/180 
        let originPoint = {
          // minus 5 to radius so that the end of line is hidden under circleSet
          x: circleSet.center.x + Math.round((circleSet.radius - 10) * Math.cos(angleOrigin)),
          y: circleSet.center.y + Math.round((circleSet.radius - 10) * Math.sin(angleOrigin))
        }
        //console.log(angleSpan[i])
        let pathPoints = `M${originPoint.x},${originPoint.y}`
        for (let j = 0; j < paths[i].depth; j++) {
          let angleSibling = (angleSpan[i] + 20 - (j * 3) ) * Math.PI/180 
          let siblingOriginPoint = {
            x: circleSet.center.x + Math.round(circleSet.radius * Math.cos(angleSibling)),
            y: circleSet.center.y + Math.round(circleSet.radius * Math.sin(angleSibling))
          }
          //console.log('0', angleSpan, '1', circlesSteps, circleSet, '2', angleOrigin, '3', originPoint, '4', siblingOriginPoint)
          // console.log('check ',  circlesSteps[j], circleSet.center, ((j + 1) % 2 === 0) ? originPoint : siblingOriginPoint)
          let intersections = this.findCircleLineIntersections(
            circlesSteps[j],
            circleSet.center,
            ((j + 1) % 2 === 0) ? originPoint : siblingOriginPoint
          )
          //console.log('intersections ',  circlesSteps[j], i , ', ', j, ' ', intersections)
          let intersection = this.findCircleLineRelevantIntersection(intersections, circleSet)
          pathPoints += ` L${intersection.x},${intersection.y}`
        }
        //console.log(pathPoints)
        pathsPoints.push(pathPoints)
      }
      return pathsPoints
    },
    findSlope: function(a, b) {
      let y = (b.y - a.y)
      let x = (b.x - a.x)
      return y!== 0 && x !== 0 ? y/x : 0
    },
    findYIntercept: function(slope, a){
      //a.y = slope * a.x + b
      return Math.round(- 1 * ((slope * a.x) - a.y) * 100) / 100
    },
    findY: function(slope, a, x){
      //a.y - y = slope * (a.x - x)
      let y = Math.round(-1 * (slope * (a.x - x) - a.y) * 100) / 100
      return y === 0 ? 0 : y
    },
    findCircleLineRelevantIntersection: function(intersections, circleSet) {
      let length1 = this.findLineLength(intersections[0], circleSet.center)
      let length2 = this.findLineLength(intersections[1], circleSet.center)
      return (length1 > length2) ? intersections[0] : intersections[1]
    },
    findLineLength: function(a, b){
      //l*l = (x2−x1)*(x2−x1) + (y2−y1)*(y2−y1)
      let lsquare = (b.x - a.x)*(b.x - a.x) + (b.y - a.y)*(b.y - a.y)
      return Math.round(Math.sqrt(lsquare) * 100) / 100
    },
    //https://cscheng.info/2016/06/09/calculate-circle-line-intersection-with-javascript-and-p5js.html
    findCircleLineIntersections: function(circle, pointA, pointB) {
      //console.log("ok", circle, pointA, pointB)
      let slope = this.findSlope(pointA, pointB)
      let r = circle.radius
      let h = circle.center.x
      let k = circle.center.y
      let m = slope
      let n = this.findYIntercept(slope, pointA)
      // circle: (x - h)^2 + (y - k)^2 = r^2
      // line: y = m * x + n
      // r: circle radius
      // h: x value of circle centre
      // k: y value of circle centre
      // m: slope
      // n: y-intercept

      // get a, b, c values
      var a = 1 + (m * m);
      var b = -h * 2 + (m * (n - k)) * 2;
      var c = (h * h) + ((n - k) * (n - k))  - (r * r);

      // get discriminant
      var d = (b * b) - 4 * a * c;
      if (d >= 0) {
          // insert into quadratic formula
          var intersectionsX = [
              Math.round((-b + Math.sqrt((b * b) - 4 * a * c)) / (2 * a) * 100) / 100,
              Math.round((-b - Math.sqrt((b * b) - 4 * a * c)) / (2 * a) * 100) / 100
          ];
          var intersections = [
              { x: intersectionsX[0], y: this.findY(slope, pointA, intersectionsX[0]) },
              { x: intersectionsX[1], y: this.findY(slope, pointA, intersectionsX[1]) }
          ];
          if (d === 0) {
              // only 1 intersection
              return intersections[0];
          }
          return intersections;
      }
      // no intersection
      return null;
    }, 
    selectDepth: function(depth){
      this.$emit('selectDepth', depth)
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
circle {
  transition: all 2s;
}
path {
  cursor:pointer;
}
</style>
