
<template>
  <div
    class='rectSetInfo'
    key='rectSetInfo'
    v-bind:style='rectStyles'
  >
    <h1>COLLECTION . {{name}}</h1>
    <div  v-if='selectedSet'>
      <p>{{selectedSet.entities}} entities</p>
      <p>{{selectedSet.paths.length}} paths</p>
      <p v-if='selectedSet.publisher'>Published by {{selectedSet.publisher}}</p>
      <p v-if='selectedSet.description'>{{selectedSet.description}}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'graphInfo',
  props: ['selectedSet', 'hoveredSet', 'radius', 'width', 'height'],
  data() {
    return {
    }
  },
  computed: {
    name (){
      return this.selectedSet ? this.selectedSet.name : this.hoveredSet.name
    },
    rectStyles() {
      return {
        maxWidth: this.rectWidth + 'px',
        marginLeft: this.rectX + 'px',
        marginTop: this.rectY + 'px'
      }
    },
    rectWidth() {
      return Math.round(this.width / 3) - this.radius
    },
    rectX() {
      return 10
    },
    rectY() {
      return 10
    }
  },
  methods: {
    
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2, p {
  font-size: 0.75em;
  color: #345;
  padding: 0;
  margin: 0;
  word-break: break-all;
  line-height: 1.5em;
}
</style>
