
<template>
  <transition name="fade">
    <div
      class='tooltip'
      key='tooltip'
      v-bind:style='rectStyles'
      v-if='content'
    >
      <p v-if='content.fulluri'><strong>URI</strong> {{content.fulluri}}</p>
      <p v-if='content.label'><strong>Label</strong> {{content.label}}</p>
      <p v-if='content.definition'><strong>Definition</strong> {{content.definition}}</p>
      <p v-if='content.comment'><strong>Comment</strong> {{content.comment}}</p>
      <p v-if='content.note'><strong>Note</strong> {{content.note}}</p>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'tooltip',
  props: ['hoveredPart', 'hoveredType', 'hoveredJoint', 'prefixes', 'properties', 'width', 'height'],
  data() {
    return {
      content: null,
      left: 0,
      right: null,
      bottom: 0
    }
  },
  watch: {
    hoveredPart: function (newHoveredPart) {
      //console.log('hoveredPart', newHoveredPart)
      this.initTooltip(newHoveredPart)
    },
    hoveredType: function (newHoveredType) {
      //console.log('hoveredPart', newHoveredPart)
      this.initTooltip(newHoveredType)
    },
    hoveredJoint: function (newHoveredJoint) {
      //console.log('hoveredJoint', newHoveredJoint)
      this.initTooltip(newHoveredJoint, 'joint')
    }
  },
  computed: {
    rectStyles() {
      let basis = {
        maxWidth: Math.round(this.width/3) + 'px',
        bottom: this.bottom + 'px'
      }
      if (this.left) {
        return { ...basis, left: this.left + 'px' } 
      } else {
        return { ...basis, right: this.right + 'px' } 
      }
    }
  },
  methods: {
    initTooltip(content, type) {
      if(content) {
        //console.log('content', content)
        let newContent = type === 'joint' ? { uri: content.extension[0].uri } : { uri: content.uri }
        let pref = newContent.uri.split(':')
        // console.log('fulluri', pref[0], this.prefixes[pref[0]], this.prefixes)
        newContent.fulluri = newContent.uri.replace(pref[0] + ':', this.prefixes[pref[0]]) 
        newContent.label = this.properties[newContent.fulluri] && this.properties[newContent.fulluri].label ? this.properties[newContent.fulluri].label : ''
        newContent.definition = this.properties[newContent.fulluri] && this.properties[newContent.fulluri].definition ? this.properties[newContent.fulluri].definition : ''
        newContent.comment = this.properties[newContent.fulluri] && this.properties[newContent.fulluri].comment ? this.properties[newContent.fulluri].comment : ''
        this.content = newContent
        if (content.x < this.width / 2 - 100) {
          this.left = content.x + 10
          this.right = null
        } else {
          this.right = this.width - content.x + 10
          this.left = null
        }
        this.bottom = this.height - content.y + 10
      } else {
        this.content = null
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.tooltip {
  background: #edecec;
  position: absolute;
  color: #345;
  border: 2px solid #345;
  border-radius: 5px;
  font-size: 0.7em;
  padding: 3px 5px;
}
.tooltip p {
  padding: 0;
  margin: 0;
}
.fade-enter-active {
  animation: appear 1s;
}
.fade-leave-active {
  animation: appear 0.4s reverse;
}
@keyframes appear {
  0% {
   opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>
