
<template>
  <cloud 
    v-if='datacloud'
    v-bind:datacloud='datacloud'
  ></cloud>
</template>

<script>
import cloud from '@/components/viz/Cloud';
export default {
  components: { cloud },
  name: 'wrap',
  data() {
    return {
      datacloud: null
    }
  },
  mounted() {
    this.loadData()
  },
  methods: {
    loadData() {
      fetch('/static/files/def_datasets_local.json', {
        mode: 'cors',
        headers: {
          'Access-Control-Allow-Origin':'*'
        } 
      })
        .then(res => res.json())
        .then((res) => {
          this.datacloud = res
        })
        .catch(error => {
          console.error(error)
        })
    }
  }
};
</script>
